<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    <H1 > Booctep Support Team </H1>
    <H3> Hello {{ user.name }}! This is booctep support team. </H3>
    <h3> To reset your password please click below Button </h3>
    <div style="width: 100px; height: 40px; background: #0d79df; color: white; border-radius: 5px; justify-content: center; display: flex; align-items: center; margin-left: 100px; margin-top: 100px;">
        <a href="http://admin.booctep.com/reset_password/?id={{ user.id }}" style="color:white; text-decoration: none;">Click Here</a>
    </div>
</body>
</html>