{% extends "video/base.html" %}
{% block content %}
{% load static %}

<style>

    .teacher {
        float: right !important;
    }

    .bluesky {
        background: #61e076bf !important;
    }

    .message {
        max-width: 300px;
        clear: both;
        text-decoration: none;
        list-style-type: none;
        margin: 5px 5px 0px 5px;
        float: left;
        margin-right: 20px;
        padding: 0px 0px;
        min-width: 160px;
        min-height: 10px;
        max-width: 350px;
        border-radius: 5px;
        line-height: 1.4;
        word-wrap: break-word;
        color: #444444;
        text-align: left;
    }
</style>

<style>


.mdk-drawer-layout__content .app-messages__container-dark{
    background-color: #4c525e !important;
}

.blllu{
    color: rgb(11, 111, 241) !important;
} 

.blllu-dark{
    color: rgb(177, 197, 223) !important;
    margin-right: 8px !important;
}


.card-footer{
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 0.5px solid rgb(211, 228, 236)!important;
}


.bllu{
    color: rgb(57, 137, 241) !important;
} 
.bllu-dark{

    color: rgb(177, 200, 230) !important;
}
.card-footer-dark{
    background-color: rgb(26, 28, 34) !important;
    border: 1px solid rgb(9, 10, 12) !important;
}

.btn-light{
    background-color: #3a76d1 !important;
    color: rgb(199, 199, 199) !important;
    
    border: 1px solid  #2d62b3 !important;
    box-shadow: none !important;
}


.btn-light-dark{
    background-color: #323741 !important;
    color: rgb(199, 199, 199) !important;
    
    border: 1px solid  #21242b !important;
    box-shadow: none !important;
}


.brd{
    border: 1px solid rgb(201, 201, 201);
    color: #fff;
}

.brd-dark{
    border: 1px solid rgb(98, 112, 121);
    color: rgb(202, 202, 202);
}


.avatar-offline:after,
.avatar-offline:before,
.avatar-online:after,
.avatar-online:before {
    display: none !important;
}


.sidebar-dark{
    background-color: #22252c !important;
    border-left: 1px solid #323741 !important;
}


.sidebar-dark .divee{
    background-color: #22252c !important;
    border-left: 1px solid #1d1f22 !important;
}


.mediabout{
    color: rgb(21, 43, 71) !important;
}
  
.mediabout-dark{
   color: rgb(219, 219, 219) !important;
}


.ptt{
    padding-top: 80px !important;
}
.btn-primary{
    background-color: rgb(33, 150, 243)!important;
    color: rgb(254, 254, 255);
    float: right !important;
    margin-left: 15px !important;
    border: 1px solid rgb(20, 71, 167) !important;
}

.btn-primary-dark{
    background-color: #323741 !important;
    color: rgb(199, 199, 199) !important;
    float: right !important;
    border: 1px solid  #21242b !important;
    margin-left: 15px !important;
    box-shadow: none !important;
}


.message__body{
    text-align: right !important;
    width: 250px !important;
}

.card-dark{
        background-color: rgb(195, 211, 226) !important;
        border: 1px solid rgb(196, 201, 211) !important;
}


.progress .bg-primary{
background-color: rgb(45, 95, 189) !important;
border-radius: 0 !important;
}

.progress .bg-primary-dark{
background-color: rgb(142, 165, 209) !important;
border-radius: 0 !important;
}
.message__body .card{
        background-color: rgb(235, 237, 240) !important;
        border: 1px solid rgb(215, 220, 228) !important;
    }

.message{
    background-color: transparent !important;
}

.message-dark{
    background-color: transparent !important;
}

.teachername{
    color: rgb(1, 36, 59) !important;
    font-weight:700 !important;
    text-decoration: none !important;
    border: 0 !important;
}

.teachermsg{
    color: rgb(0, 77, 128);
}

strong{
    border-bottom: none !important;
}

 
.navbar-dark{
    background-color: #22252c !important;
    border-bottom: 1px solid #1b1d22!important;
}

.bgg-primary{
    background-color: rgb(63, 0, 82) !important;
}
.bgg-primary-dark{
    background-color: rgb(136, 145, 168) !important;
}
.accordion{
    background-color: lightgreen !important;
    border: 1px solid rgb(255, 255, 255) !important;
}
.accordion-dark{
    background-color: rgb(87, 98, 126) !important;
    border: 1px solid rgb(26, 29, 36) !important;
    border-radius: 3px !important;
}
.accordion__item{
    border-radius: 3px !important;
    border: 0 !important;
}
.accordion__item-dark{
    background-color: rgb(75, 100, 131) !important;
}
.accordion__item:last-child{
    height: 100% !important;
}
.accordion__item-dark:last-child{
    overflow: hidden !important;
}

</style>

<div data-push data-responsive-width="768px" data-has-scrollable-region data-fullbleed
class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content" data-perfect-scrollbar>
            <div class="app-messages__container app-messages__container-dark  d-flex flex-column h-100 pb-4">
                <div class="navbar navbar-dark navbar-expand-sm navbar-shadow z-1" id="messages-navbar">
                    <div class="container-fluid flex-wrap px-sm-0">
                        <div class="nav py-2">
                            <div class="nav-item d-flex align-items-center mr-3">
                                <div class="d-flex flex-column" style=" font-size: 21px">
                                    <nav class="nav navbar-nav">
                                        <div class="nav-item navbar-list__item">
                                            <a href="/video/playground/{{ course.id }}" class="nav-link h-auto mediabout mediabout-dark"><i class="material-icons icon--left mediabout mediabout-dark">keyboard_backspace</i> Back to Dashboard</a>
                                        </div>
                                        <div class="nav-item navbar-list__item">
                                            <div class="d-flex align-items-center flex-nowrap">
                                                <div class="mr-16pt">
                                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left mediabout mediabout-dark">dvr</span>
                                                </div>
                                                <div class="flex">
                                                    <a href="mini-student-take-course.html" class="card-title text-body mb-0"><b class="blllu blllu-dark">{{ course.name }}</b></a>
                                                    <p class="lh-1 d-flex align-items-center mb-0">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                    <p class="troph">Get your certificate <i class="fa fa-trophy troph-i"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="py-2 flex d-flex align-items-center">
                            <button data-target="#messages-drawer" class="navbar-toggler d-block d-md-none ml-3 p-0" data-toggle="sidebar" type="button">
                                <i class="material-icons">people_outline</i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="Quiz ">
                    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                        <img src="{% static 'assets/img/favicon.png' %}" alt="">
                        <h2 class="mb-0">{{ course.name }} Quize</h2>
                        <form id="quizForm" action="/video/quiz2/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                        </form>
                        <a class="btn btn-accent flex" style="color: white" onclick="startQuiz()">Start Quiz</a>
                    </div>
                </div>
                <div class=" page__container page__container card-footer card-footer-dark "style="height:150px;position:absolute;bottom:0;left:0;border-radius: 0 !important ">
                    <form action="#" id="message-reply" class="form-down">
                        <p>To get the certificate you have to finish this quick quiz don't worry it's easy and you can skip any hard questions also you can ask your teacher if you want or complete your quiz later.</p>
                    </form>
                </div>
            </div>
        </div>

        <div class="mdk-drawer js-mdk-drawer" data-align="end" id="messages-drawer">
            <div class="mdk-drawer__content top-0">
                <div class="sidebar sidebar-right sidebar-dark o-hidden">
                    <div class="d-flex flex-column h-100">

                        <div style="margin-top: 10px;" class="flex" data-perfect-scrollbar>
                            <div class="sidebar-heading">Quiz Timeline</div>

                            <ul class="list-group list-group-flush mb-3">

                                <div class="chart chart-2" style="height: 262px;">
                                    <div class="text-center fullbleed d-flex align-items-center justify-content-center flex-column z-0">
                                        <h2 class="m-0">0 / {{ question_count }}</h2>
                                        <strong>{{ question_count }} To go</strong>
                                    </div>
                                    <canvas class="chart-canvas position-relative z-1" id="attendanceDoughnutChart" data-chart-legend="#attendanceDoughnutChartLegend" data-chart-line-background-color="primary;accent;gray.700;gray">
                                        <span style="font-size: 1rem;" class="text-muted"><strong>Attendance</strong> doughnut chart goes here.</span>
                                    </canvas>
                                </div>

                                <div class="col-6">
                                    <div class="nav border-0">
                                    </div>
                                    <div id="attendanceDoughnutChartLegend" class="chart-legend chart-legend--vertical mt-24pt"></div>
                                </div>

                                <button type="submit" class="btn btn-accent flex" style="width: 90%;margin:0 auto;margin-top: 30px;cursor:not-allowed;" disabled>continue later</button>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script>

function startQuiz() {
    localStorage.setItem('right', 0)
    localStorage.setItem('wrong', 0)
    localStorage.setItem('skip', 0)
    location = '/quiz/{{ course.course_url }}/{{ quiz_id }}/?question=1'
}

</script>

{% endblock %}
