{% import '_course-card-popular.html' as post %}
{% import 'components/pager.html' as pager %}

<div class="page-section {{ alt_bg }} border-bottom-2">
  <div class="{{ containerClass or 'container' }}">
    
    <div class="text-center d-flex align-items-center flex-wrap mb-32pt" style="white-space: nowrap;">
      <h5 class="mr-24pt mb-md-0 d-md-inline-block">Popular topics</h5>
      <a href="" class="chip mb-16pt mb-md-0 chip-secondary">Development</a>
      <a href="" class="chip mb-16pt mb-md-0 chip-outline-secondary">Design</a>
      <a href="" class="chip mb-16pt mb-md-0 chip-outline-secondary">Photography</a>
      <a href="" class="chip mb-16pt mb-md-0 chip-outline-secondary d-md-none d-lg-inline-flex">Business</a>
    </div>

    <div class="page-separator">
      <div class="page-separator__text {{ alt_bg }}">Development Resources</div>
    </div>

    {% set items = [{
      title: 'Learn Angular fundamentals',
      image: 'angular',
      author_avatar: 'assets/images/256_rsz_1andy-lee-642320-unsplash.jpg'
    }, {
      title: 'Build an iOS Application in Swift',
      image: 'swift',
      author_avatar: 'assets/images/256_luke-porter-261779-unsplash.jpg'
    }, {
      title: 'Build a WordPress Website',
      image: 'wordpress',
      author_avatar: 'assets/images/256_michael-dam-258165-unsplash.jpg'
    }] %}

    <div class="row card-group-row">
      {% for item in items %}
        <div class="col-md-6 col-lg-4 card-group-row__col">
          {{ post.component(
            prefix=prefix,
            link='blog-post.html',
            title=item.title, 
            image=item.image, 
            author_avatar=item.author_avatar,
            class='card-group-row__card mb-lg-0') }}
        </div>
      {% endfor %}
    </div>
  
  </div>
</div>
<div class="page-section">
  <div class="{{ containerClass or 'container' }}">

    <div class="page-separator">
      <div class="page-separator__text">Design Resources</div>
    </div>

    {% set items = [{
      title: 'Learn Sketch',
      image: 'sketch',
      author_avatar: 'assets/images/256_rsz_1andy-lee-642320-unsplash.jpg'
    }, {
      title: 'Learn Flinto',
      image: 'flinto',
      author_avatar: 'assets/images/256_luke-porter-261779-unsplash.jpg'
    }, {
      title: 'Learn Photoshop',
      image: 'photoshop',
      author_avatar: 'assets/images/256_michael-dam-258165-unsplash.jpg'
    }] %}

    <div class="row card-group-row">
      {% for item in items %}
        <div class="col-md-6 col-lg-4 card-group-row__col">
          {{ post.component(
            prefix=prefix,
            link='blog-post.html',
            title=item.title, 
            image=item.image, 
            author_avatar=item.author_avatar,
            class='card-group-row__card') }}
        </div>
      {% endfor %}
    </div>

    {% set posts = [{
      avatar: "assets/images/paths/invision_200x168.png",
      title: "Design Systems Essentials",
      views: 35,
      tag: "inVision",
      date: "11 Nov, 2018 07:46 AM",
      avatarGroup: true,
      avatarCount: 3,
      avatars: [
        "assets/images/256_rsz_1andy-lee-642320-unsplash.jpg",
        "assets/images/256_michael-dam-258165-unsplash.jpg",
        "assets/images/256_luke-porter-261779-unsplash.jpg"
      ]
    }, {
      avatar: "assets/images/paths/photoshop_200x168.png",
      title: "Semantic Logo Design",
      views: 78,
      tag: "Photoshop",
      date: "10 Nov, 2018 08:25 AM",
      avatarGroup: true,
      avatarCount: 2,
      avatars: [
        "assets/images/256_joao-silas-636453-unsplash.jpg",
        "assets/images/256_jeremy-banks-798787-unsplash.jpg",
        "assets/images/256_daniel-gaffey-1060698-unsplash.jpg"
      ]
    }, {
      avatar: "assets/images/paths/sketch_200x168.png",
      title: "Merge Duplicates Inconsistent Symbols & Styles",
      views: 78,
      tag: "Sketch",
      date: "09 Nov, 2018 07:13 PM",
      avatarGroup: true,
      avatarCount: 1,
      avatars: [
        "assets/images/256_rsz_1andy-lee-642320-unsplash.jpg",
        "assets/images/256_michael-dam-258165-unsplash.jpg",
        "assets/images/256_luke-porter-261779-unsplash.jpg"
      ]
    }] %}

    <div class="posts-cards mb-24pt">
      {% for item in posts %}
      <div class="card posts-card">
        <div class="posts-card__content d-flex align-items-center flex-wrap">
          <div class="avatar avatar-lg mr-3">
            <a href=""><img src="{{ item.avatar }}" alt="avatar" class="avatar-img rounded"></a>
          </div>
          <div class="posts-card__title flex d-flex flex-column">
            <a href="" class="card-title mr-3">{{ item.title }}</a>
            <small class="text-50">{{ item.views }} views last week</small>
          </div>
          <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
            <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
              <i class="material-icons text-muted-light mr-1">folder_open</i> {{ item.tag }}
            </div>
            <div class="mr-3 text-50 posts-card__date">
              <small>{{ item.date }}</small>
            </div>
            <div class="media ml-sm-auto align-items-center">
              <div class="media-left mr-2{% if item.avatarGroup %} avatar-group{% endif %}">
                {% for avatar in item.avatars %}
                <div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top" title="Janell D.">
                  <img src="{{ avatar }}" alt="Avatar" class="avatar-img rounded-circle">
                </div>
                {% endfor %}
              </div>
              <div class="media-body">
                {% if item.avatarCount > 1 %}
                <a href="">+{{ item.avatarCount-1 }} more</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="card p-8pt mb-0 d-inline-block">
      {{ pager.pager() }}
    </div>

  </div>
</div>