<div class="page-section {{ alt_bg }} border-bottom-2">
  <div class="{{ containerClass }}">

    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="d-flex flex-column flex-md-row align-items-center flex mb-16pt mb-lg-0 text-center text-md-left">
        <div class="avatar avatar mb-16pt mb-md-0 mr-md-16pt">
          <img src="assets/images/paths/angular_64x64.png" class="avatar-img rounded" alt="lesson">
        </div>
        <div class="flex">
          <h1 class="h2 m-0">Angular Fundamentals</h1>
          <div class="rating mb-8pt d-inline-flex">
            <div class="rating__item"><i class="material-icons">star</i></div>
            <div class="rating__item"><i class="material-icons">star</i></div>
            <div class="rating__item"><i class="material-icons">star</i></div>
            <div class="rating__item"><i class="material-icons">star</i></div>
            <div class="rating__item"><i class="material-icons">star_border</i></div>
          </div>
        </div>
      </div>
      <div class="ml-lg-16pt">
        <a href="{{ prefix or '' }}courses.html" class="btn btn-light">Library</a>
      </div>
    </div>

  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="{{ containerClass }}">
    
    <div class="row">
      <div class="col-lg-8">

        <div class="js-player card bg-primary text-center embed-responsive embed-responsive-16by9 mb-24pt">
          <div class="player embed-responsive-item">
            <div class="player__content align-items-center justify-content-center">
              <p class="lead text-white-70 measure-lead">It’s not every day that one of the most important front-end libraries in web development gets a complete overhaul. Keep your skills relevant and up-to-date with this comprehensive introduction to Google’s popular community project.</p>
              
              <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <a href="{{ prefix or '' }}student-lesson.html" class="btn btn-outline-white">Watch trailer <i class="material-icons icon--right">play_circle_outline</i></a>
              </div>
            </div>
            <div class="player__embed d-none">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>

        <div class="mb-24pt">
          <span class="chip chip-outline-secondary d-inline-flex align-items-center">
            <i class="material-icons icon--left">schedule</i>
            2h 46m
          </span>
          <span class="chip chip-outline-secondary d-inline-flex align-items-center">
            <i class="material-icons icon--left">assessment</i>
            Beginner
          </span>
        </div>

        {% import 'pages/_course.description.html' as description %}
        {{ description.component(container=false, class='mb-24pt') }}

        {% import 'pages/_course.rating.html' as rating %}
        {{ rating.component(prefix=prefix, containerClass=containerClass, container=false) }}

      </div>
      <div class="col-lg-4">

        {% import 'components/card-unlock.html' as unlock %}
        {{ unlock.component(label='Course', prefix=prefix) }}

        {% include 'pages/_course.author.basic.html' %}

        {% include 'pages/_course.recommended.html' %}

      </div>
    </div>

  </div>
</div>

<div class="page-section {{ alt_bg }}">
  <div class="{{ containerClass or 'container' }}">
    {% include 'pages/_feedback.html' %}
  </div>
</div>