<!-- Flatpickr -->
<link type="text/css" href="assets/css/flatpickr.css" rel="stylesheet">
{% if rtl %}<link type="text/css" href="assets/css/flatpickr.rtl.css" rel="stylesheet">{% endif %}
<link type="text/css" href="assets/css/flatpickr-airbnb.css" rel="stylesheet">
{% if rtl %}<link type="text/css" href="assets/css/flatpickr-airbnb.rtl.css" rel="stylesheet">{% endif %}

<!-- DateRangePicker -->
<link type="text/css" href="assets/vendor/daterangepicker.css" rel="stylesheet">

<!-- Quill Theme -->
<link type="text/css" href="assets/css/quill.css" rel="stylesheet">
{% if rtl %}<link type="text/css" href="assets/css/quill.rtl.css" rel="stylesheet">{% endif %}

<!-- Touchspin -->
<link type="text/css" href="assets/css/bootstrap-touchspin.css" rel="stylesheet">
{% if rtl %}<link type="text/css" href="assets/css/bootstrap-touchspin.rtl.css" rel="stylesheet">{% endif %}

<!-- Select2 -->
<link type="text/css" href="assets/css/select2.css" rel="stylesheet">
{% if rtl %}<link type="text/css" href="assets/css/select2.rtl.css" rel="stylesheet">{% endif %}
<link type="text/css" href="assets/vendor/select2/select2.min.css" rel="stylesheet">