@import "../../../vendor_assets/css/bootstrap/config.bs";

@each  $key, $color in ($theme-colors) {
  .btn-shadow-#{$key} {
    -webkit-box-shadow: 0 10px 15px transparentize($color, 0.8);
    -moz-box-shadow: 0 10px 15px transparentize($color, 0.8);
    box-shadow: 0 10px 15px transparentize($color, 0.8);
  }
}

//border opacity
@each  $key, $color in ($theme-colors) {
  .outline-lg-#{$key} {
    border: 2px solid $color;
    background: none;
    color: $color;
  }
}