<div class="page-separator">
  <div class="page-separator__text">Overview</div>
</div>

<div class="card mb-lg-32pt">
  <div class="card-header d-flex align-items-center">
    <strong class="card-title">Revenue</strong>
    <div class="flatpickr-wrapper flatpickr-calendar-right d-flex ml-auto">
      <div
        id="recent_orders_date"
        data-toggle="flatpickr" 
        data-flatpickr-wrap="true"
        data-flatpickr-static="true" 
        data-flatpickr-mode="range" 
        data-flatpickr-alt-format="d/m/Y" 
        data-flatpickr-date-format="d/m/Y">
        <a href="javascript:void(0)" class="link-date" data-toggle>13/03/2018 to 20/03/2018</a>
        <input class="d-none" type="hidden" value="13/03/2018 to 20/03/2018" data-input>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-legend mt-0 mb-24pt justify-content-start" id="ordersChartLegend"></div>
    <div class="chart">
      <canvas 
        id="ordersChart" 
        class="chart-canvas js-update-chart-bar" 
        data-chart-legend="#ordersChartLegend"
        data-chart-prefix="$"
        data-chart-suffix="k"
        data-chart-line-background-color="gradient:primary"></canvas>
    </div>
  </div>
</div>

<div class="page-separator">
  <div class="page-separator__text">Transactions</div>
</div>

<div class="card mb-0">
  <div
    data-toggle="lists" 
    data-lists-values='[
      "js-lists-values-course", 
      "js-lists-values-revenue",
      "js-lists-values-fees"
    ]'
    data-lists-sort-by="js-lists-values-revenue"
    data-lists-sort-desc="true"
    class="table-responsive">
    <table class="table table-nowrap table-flush">
      <thead>
        <tr class="text-uppercase small">
          <th>
            <a 
              href="javascript:void(0)" 
              class="sort"
              data-sort="js-lists-values-course">Course</a>
          </th>
          <th class="text-center" style="width:130px">
            <a 
              href="javascript:void(0)" 
              class="sort"
              data-sort="js-lists-values-fees">Fees</a>
          </th>
          <th class="text-center" style="width:130px">
            <a 
              href="javascript:void(0)" 
              class="sort"
              data-sort="js-lists-values-revenue">Revenue</a>
          </th>
        </tr>
      </thead>

      {% set earnings = [{
        course: "Angular Routing In-Depth",
        image: "assets/images/paths/angular_routing_200x168.png",
        revenue: "8,737",
        sales: "34",
        fees: "120"
      }, {
        course: "Angular Unit Testing",
        image: "assets/images/paths/angular_testing_200x168.png",
        revenue: "2,521",
        sales: "38"
      }, {
        course: "Introduction to TypeScript",
        image: "assets/images/paths/typescript_200x168.png",
        revenue: "1,413",
        sales: "8"
      }, {
        course: "Learn Angular Fundamentals",
        image: "assets/images/paths/angular_200x168.png",
        revenue: "1,234",
        sales: "31"
      }] %}

      <tbody class="list">
        {% for item in earnings %}
        <tr>
          <td>
            <div class="media flex-nowrap align-items-center">
              <a href="{{ prefix or '' }}instructor-edit-course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                <img src="{{ item.image }}" alt="course" class="avatar-img rounded">
                <span class="overlay__content"></span>
              </a>
              <div class="media-body">
                <a class="text-body js-lists-values-course" href="{{ prefix or '' }}instructor-edit-course.html"><strong>{{ item.course }}</strong></a>
                <div class="text-muted small">{{ item.sales }} Sales</div>
              </div>
            </div>
          </td>
          <td class="text-center text-black-70">
            {% if item.fees %}
            &dollar;<span class="js-lists-values-fees">{{ item.fees }}</span> USD
            {% else %}
            <span class="js-lists-values-fees sr-only">0</span>
            <i class="material-icons text-muted">remove</i>
            {% endif %}
          </td>
          <td class="text-center text-black-70">
            &dollar;<span class="js-lists-values-revenue">{{ item.revenue }}</span> USD
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="text-right">
        <tr>
          <td>
            {% include 'layouts/_pagination.html' %}
          </td>
          <td colspan="2">Total <i class="material-icons text-muted">remove</i> <strong>&dollar;6,129 USD</strong></td>
        </tr>
      </tfoot> 
    </table>
  </div>
</div>