

[dir=rtl] *,
[dir=rtl]:after,
[dir=rtl]:before {
  box-sizing: border-box
}


[dir=rtl] .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem .75rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272c33;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #edf0f2;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(39, 44, 51, .075);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  [dir=rtl] .form-control {
      transition: none
  }
}

[dir=rtl] .form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

[dir=rtl] .form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #272c33
}

[dir=rtl] .form-control:focus {
  color: #272c33;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(39, 44, 51, .075), 0 0 0 1px #5567ff
}

[dir=rtl] .form-control::-webkit-input-placeholder {
  color: #949595;
  opacity: 1
}

[dir=rtl] .form-control::-moz-placeholder {
  color: #949595;
  opacity: 1
}

[dir=rtl] .form-control:-ms-input-placeholder {
  color: #949595;
  opacity: 1
}

[dir=rtl] .form-control::-ms-input-placeholder {
  color: #949595;
  opacity: 1
}

[dir=rtl] .form-control::placeholder {
  color: #949595;
  opacity: 1
}

[dir=rtl] .form-control:disabled,
[dir=rtl] .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1
}

[dir=rtl] select.form-control:focus::-ms-value {
  color: #272c33;
  background-color: #fff
}

[dir=rtl] .form-control-file,
[dir=rtl] .form-control-range {
  display: block;
  width: 100%
}

[dir=rtl] .col-form-label {
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5
}

[dir=rtl] .col-form-label,
[dir=rtl] .col-form-label-lg {
  padding-top: calc(.5rem + 1px);
  padding-bottom: calc(.5rem + 1px)
}

[dir=rtl] .col-form-label-lg {
  font-size: 1.21875rem;
  line-height: 1.75
}

[dir=rtl] .col-form-label-sm {
  padding-top: calc(.25rem + 1px);
  padding-bottom: calc(.25rem + 1px);
  font-size: .7109375rem;
  line-height: 1.5
}

[dir=rtl] .form-control-plaintext {
  display: block;
  width: 100%;
  padding: .5rem 0;
  margin-bottom: 0;
  font-size: .8125rem;
  line-height: 1.5;
  color: #272c33;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0
}

[dir=rtl] .form-control-plaintext.form-control-lg,
[dir=rtl] .form-control-plaintext.form-control-sm {
  padding-right: 0;
  padding-left: 0
}

[dir=rtl] .form-control-sm {
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .7109375rem;
  line-height: 1.5;
  border-radius: .2rem
}

[dir=rtl] .form-control-lg {
  height: calc(1.75em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.21875rem;
  line-height: 1.75;
  border-radius: .5rem
}

[dir=rtl] select.form-control[multiple],
[dir=rtl] select.form-control[size],
[dir=rtl] textarea.form-control {
  height: auto
}

[dir=rtl] .form-group {
  margin-bottom: 1rem
}

[dir=rtl] .form-text {
  display: block;
  margin-top: .25rem
}

[dir=rtl] .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px
}

[dir=rtl] .form-row>.col,
[dir=rtl] .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px
}

[dir=rtl] .form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem
}

[dir=rtl] .form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem
}

[dir=rtl] .form-check-input:disabled~.form-check-label,
[dir=rtl] .form-check-input[disabled]~.form-check-label {
  color: rgba(39, 44, 51, .5)
}

[dir=rtl] .form-check-label {
  margin-bottom: 0
}

[dir=rtl] .form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem
}

[dir=rtl] .form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0
}

[dir=rtl] .valid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .8125rem;
  color: #77c13a
}



[dir=rtl] .btn-primary-dodger-blue.focus,
[dir=rtl] .btn-primary-dodger-blue:focus {
  color: #fff;
  background-color: #2f45ff;
  border-color: #2239ff;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(39, 44, 51, .075), 0 0 0 1px rgba(111, 126, 255, .5)
}

[dir=rtl] .btn-primary-dodger-blue.disabled,
[dir=rtl] .btn-primary-dodger-blue:disabled {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-primary-dodger-blue:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-primary-dodger-blue:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-primary-dodger-blue.dropdown-toggle {
  color: #fff;
  background-color: #2239ff;
  border-color: #152eff
}

[dir=rtl] .btn-primary-dodger-blue:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-primary-dodger-blue:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-primary-dodger-blue.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(111, 126, 255, .5)
}

[dir=rtl] .btn-primary-pickled-bluewood {
  color: #fff;
  background-color: #303956;
  border-color: #303956;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(39, 44, 51, .075)
}

[dir=rtl] .btn-primary-pickled-bluewood:hover {
  color: #fff;
  background-color: #22293d;
  border-color: #1e2335
}

[dir=rtl] .btn-primary-pickled-bluewood.focus,
[dir=rtl] .btn-primary-pickled-bluewood:focus {
  color: #fff;
  background-color: #22293d;
  border-color: #1e2335;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(39, 44, 51, .075), 0 0 0 1px rgba(79, 87, 111, .5)
}

[dir=rtl] .btn-primary-pickled-bluewood.disabled,
[dir=rtl] .btn-primary-pickled-bluewood:disabled {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-primary-pickled-bluewood:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-primary-pickled-bluewood:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-primary-pickled-bluewood.dropdown-toggle {
  color: #fff;
  background-color: #1e2335;
  border-color: #191e2d
}

[dir=rtl] .btn-primary-pickled-bluewood:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-primary-pickled-bluewood:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-primary-pickled-bluewood.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(79, 87, 111, .5)
}

[dir=rtl] .btn-outline-primary {
  color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary:hover {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary.focus,
[dir=rtl] .btn-outline-primary:focus {
  box-shadow: 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-primary.disabled,
[dir=rtl] .btn-outline-primary:disabled {
  color: #5567ff;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-secondary {
  color: #868e96;
  border-color: #868e96
}

[dir=rtl] .btn-outline-secondary:hover {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96
}

[dir=rtl] .btn-outline-secondary.focus,
[dir=rtl] .btn-outline-secondary:focus {
  box-shadow: 0 0 0 1px rgba(134, 142, 150, .5)
}

[dir=rtl] .btn-outline-secondary.disabled,
[dir=rtl] .btn-outline-secondary:disabled {
  color: #868e96;
  background-color: transparent
}

[dir=rtl] .btn-outline-secondary:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-secondary:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96
}

[dir=rtl] .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(134, 142, 150, .5)
}

[dir=rtl] .btn-outline-success {
  color: #77c13a;
  border-color: #77c13a
}

[dir=rtl] .btn-outline-success:hover {
  color: #212529;
  background-color: #77c13a;
  border-color: #77c13a
}

[dir=rtl] .btn-outline-success.focus,
[dir=rtl] .btn-outline-success:focus {
  box-shadow: 0 0 0 1px rgba(119, 193, 58, .5)
}

[dir=rtl] .btn-outline-success.disabled,
[dir=rtl] .btn-outline-success:disabled {
  color: #77c13a;
  background-color: transparent
}

[dir=rtl] .btn-outline-success:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-success:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #77c13a;
  border-color: #77c13a
}

[dir=rtl] .btn-outline-success:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-success:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(119, 193, 58, .5)
}

[dir=rtl] .btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8
}

[dir=rtl] .btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}

[dir=rtl] .btn-outline-info.focus,
[dir=rtl] .btn-outline-info:focus {
  box-shadow: 0 0 0 1px rgba(23, 162, 184, .5)
}

[dir=rtl] .btn-outline-info.disabled,
[dir=rtl] .btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent
}

[dir=rtl] .btn-outline-info:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-info:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}

[dir=rtl] .btn-outline-info:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-info:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(23, 162, 184, .5)
}

[dir=rtl] .btn-outline-warning {
  color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-warning:hover {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-warning.focus,
[dir=rtl] .btn-outline-warning:focus {
  box-shadow: 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-warning.disabled,
[dir=rtl] .btn-outline-warning:disabled {
  color: #e4a93c;
  background-color: transparent
}

[dir=rtl] .btn-outline-warning:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-warning:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-warning:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-danger {
  color: #d9534f;
  border-color: #d9534f
}

[dir=rtl] .btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f
}

[dir=rtl] .btn-outline-danger.focus,
[dir=rtl] .btn-outline-danger:focus {
  box-shadow: 0 0 0 1px rgba(217, 83, 79, .5)
}

[dir=rtl] .btn-outline-danger.disabled,
[dir=rtl] .btn-outline-danger:disabled {
  color: #d9534f;
  background-color: transparent
}

[dir=rtl] .btn-outline-danger:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-danger:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f
}

[dir=rtl] .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-danger:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(217, 83, 79, .5)
}

[dir=rtl] .btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa
}

[dir=rtl] .btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

[dir=rtl] .btn-outline-light.focus,
[dir=rtl] .btn-outline-light:focus {
  box-shadow: 0 0 0 1px rgba(248, 249, 250, .5)
}

[dir=rtl] .btn-outline-light.disabled,
[dir=rtl] .btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent
}

[dir=rtl] .btn-outline-light:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-light:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

[dir=rtl] .btn-outline-light:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-light:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(248, 249, 250, .5)
}

[dir=rtl] .btn-outline-dark {
  color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-dark:hover {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-dark.focus,
[dir=rtl] .btn-outline-dark:focus {
  box-shadow: 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-outline-dark.disabled,
[dir=rtl] .btn-outline-dark:disabled {
  color: #303956;
  background-color: transparent
}

[dir=rtl] .btn-outline-dark:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-dark:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-outline-black {
  color: #272c33;
  border-color: #272c33
}

[dir=rtl] .btn-outline-black:hover {
  color: #fff;
  background-color: #272c33;
  border-color: #272c33
}

[dir=rtl] .btn-outline-black.focus,
[dir=rtl] .btn-outline-black:focus {
  box-shadow: 0 0 0 1px rgba(39, 44, 51, .5)
}

[dir=rtl] .btn-outline-black.disabled,
[dir=rtl] .btn-outline-black:disabled {
  color: #272c33;
  background-color: transparent
}

[dir=rtl] .btn-outline-black:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-black:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-black.dropdown-toggle {
  color: #fff;
  background-color: #272c33;
  border-color: #272c33
}

[dir=rtl] .btn-outline-black:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-black:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-black.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(39, 44, 51, .5)
}

[dir=rtl] .btn-outline-accent {
  color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent:hover {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent.focus,
[dir=rtl] .btn-outline-accent:focus {
  box-shadow: 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-accent.disabled,
[dir=rtl] .btn-outline-accent:disabled {
  color: #ed0b4c;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent.dropdown-toggle {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-accent-red {
  color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent-red:hover {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent-red.focus,
[dir=rtl] .btn-outline-accent-red:focus {
  box-shadow: 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-accent-red.disabled,
[dir=rtl] .btn-outline-accent-red:disabled {
  color: #ed0b4c;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent-red:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent-red:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent-red.dropdown-toggle {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-accent-red:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent-red:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent-red.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-accent-yellow {
  color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-accent-yellow:hover {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-accent-yellow.focus,
[dir=rtl] .btn-outline-accent-yellow:focus {
  box-shadow: 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-accent-yellow.disabled,
[dir=rtl] .btn-outline-accent-yellow:disabled {
  color: #e4a93c;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent-yellow:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent-yellow:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent-yellow.dropdown-toggle {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-accent-yellow:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent-yellow:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent-yellow.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-accent-dodger-blue {
  color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-accent-dodger-blue:hover {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-accent-dodger-blue.focus,
[dir=rtl] .btn-outline-accent-dodger-blue:focus {
  box-shadow: 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-accent-dodger-blue.disabled,
[dir=rtl] .btn-outline-accent-dodger-blue:disabled {
  color: #5567ff;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent-dodger-blue:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent-dodger-blue:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent-dodger-blue.dropdown-toggle {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-accent-dodger-blue:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent-dodger-blue:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent-dodger-blue.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-accent-pickled-bluewood {
  color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-accent-pickled-bluewood:hover {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-accent-pickled-bluewood.focus,
[dir=rtl] .btn-outline-accent-pickled-bluewood:focus {
  box-shadow: 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-outline-accent-pickled-bluewood.disabled,
[dir=rtl] .btn-outline-accent-pickled-bluewood:disabled {
  color: #303956;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent-pickled-bluewood:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent-pickled-bluewood:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent-pickled-bluewood.dropdown-toggle {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-accent-pickled-bluewood:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent-pickled-bluewood:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent-pickled-bluewood.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-outline-accent-electric-violet {
  color: #9c42ff;
  border-color: #9c42ff
}

[dir=rtl] .btn-outline-accent-electric-violet:hover {
  color: #fff;
  background-color: #9c42ff;
  border-color: #9c42ff
}

[dir=rtl] .btn-outline-accent-electric-violet.focus,
[dir=rtl] .btn-outline-accent-electric-violet:focus {
  box-shadow: 0 0 0 1px rgba(156, 66, 255, .5)
}

[dir=rtl] .btn-outline-accent-electric-violet.disabled,
[dir=rtl] .btn-outline-accent-electric-violet:disabled {
  color: #9c42ff;
  background-color: transparent
}

[dir=rtl] .btn-outline-accent-electric-violet:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-accent-electric-violet:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-accent-electric-violet.dropdown-toggle {
  color: #fff;
  background-color: #9c42ff;
  border-color: #9c42ff
}

[dir=rtl] .btn-outline-accent-electric-violet:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-accent-electric-violet:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-accent-electric-violet.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(156, 66, 255, .5)
}

[dir=rtl] .btn-outline-primary-purple {
  color: #824ee1;
  border-color: #824ee1
}

[dir=rtl] .btn-outline-primary-purple:hover {
  color: #fff;
  background-color: #824ee1;
  border-color: #824ee1
}

[dir=rtl] .btn-outline-primary-purple.focus,
[dir=rtl] .btn-outline-primary-purple:focus {
  box-shadow: 0 0 0 1px rgba(130, 78, 225, .5)
}

[dir=rtl] .btn-outline-primary-purple.disabled,
[dir=rtl] .btn-outline-primary-purple:disabled {
  color: #824ee1;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-purple:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-purple:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-purple.dropdown-toggle {
  color: #fff;
  background-color: #824ee1;
  border-color: #824ee1
}

[dir=rtl] .btn-outline-primary-purple:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-purple:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-purple.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(130, 78, 225, .5)
}

[dir=rtl] .btn-outline-primary-red {
  color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-primary-red:hover {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-primary-red.focus,
[dir=rtl] .btn-outline-primary-red:focus {
  box-shadow: 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-primary-red.disabled,
[dir=rtl] .btn-outline-primary-red:disabled {
  color: #ed0b4c;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-red:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-red:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-red.dropdown-toggle {
  color: #fff;
  background-color: #ed0b4c;
  border-color: #ed0b4c
}

[dir=rtl] .btn-outline-primary-red:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-red:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-red.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(237, 11, 76, .5)
}

[dir=rtl] .btn-outline-primary-yellow {
  color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-primary-yellow:hover {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-primary-yellow.focus,
[dir=rtl] .btn-outline-primary-yellow:focus {
  box-shadow: 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-primary-yellow.disabled,
[dir=rtl] .btn-outline-primary-yellow:disabled {
  color: #e4a93c;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-yellow:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-yellow:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-yellow.dropdown-toggle {
  color: #212529;
  background-color: #e4a93c;
  border-color: #e4a93c
}

[dir=rtl] .btn-outline-primary-yellow:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-yellow:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-yellow.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(228, 169, 60, .5)
}

[dir=rtl] .btn-outline-primary-light {
  color: #9cf;
  border-color: #9cf
}

[dir=rtl] .btn-outline-primary-light:hover {
  color: #212529;
  background-color: #9cf;
  border-color: #9cf
}

[dir=rtl] .btn-outline-primary-light.focus,
[dir=rtl] .btn-outline-primary-light:focus {
  box-shadow: 0 0 0 1px rgba(153, 204, 255, .5)
}

[dir=rtl] .btn-outline-primary-light.disabled,
[dir=rtl] .btn-outline-primary-light:disabled {
  color: #9cf;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-light:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-light:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-light.dropdown-toggle {
  color: #212529;
  background-color: #9cf;
  border-color: #9cf
}

[dir=rtl] .btn-outline-primary-light:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-light:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(153, 204, 255, .5)
}

[dir=rtl] .btn-outline-primary-dodger-blue {
  color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary-dodger-blue:hover {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary-dodger-blue.focus,
[dir=rtl] .btn-outline-primary-dodger-blue:focus {
  box-shadow: 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-primary-dodger-blue.disabled,
[dir=rtl] .btn-outline-primary-dodger-blue:disabled {
  color: #5567ff;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-dodger-blue:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-dodger-blue:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-dodger-blue.dropdown-toggle {
  color: #fff;
  background-color: #5567ff;
  border-color: #5567ff
}

[dir=rtl] .btn-outline-primary-dodger-blue:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-dodger-blue:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-dodger-blue.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(85, 103, 255, .5)
}

[dir=rtl] .btn-outline-primary-pickled-bluewood {
  color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-primary-pickled-bluewood:hover {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-primary-pickled-bluewood.focus,
[dir=rtl] .btn-outline-primary-pickled-bluewood:focus {
  box-shadow: 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-outline-primary-pickled-bluewood.disabled,
[dir=rtl] .btn-outline-primary-pickled-bluewood:disabled {
  color: #303956;
  background-color: transparent
}

[dir=rtl] .btn-outline-primary-pickled-bluewood:not(:disabled):not(.disabled).active,
[dir=rtl] .btn-outline-primary-pickled-bluewood:not(:disabled):not(.disabled):active,
[dir=rtl] .show>.btn-outline-primary-pickled-bluewood.dropdown-toggle {
  color: #fff;
  background-color: #303956;
  border-color: #303956
}

[dir=rtl] .btn-outline-primary-pickled-bluewood:not(:disabled):not(.disabled).active:focus,
[dir=rtl] .btn-outline-primary-pickled-bluewood:not(:disabled):not(.disabled):active:focus,
[dir=rtl] .show>.btn-outline-primary-pickled-bluewood.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(39, 44, 51, .125), 0 0 0 1px rgba(48, 57, 86, .5)
}

[dir=rtl] .btn-link {
  font-weight: 400;
  color: rgba(39, 44, 51, .7);
  text-decoration: none
}

[dir=rtl] .btn-link:hover {
  color: rgba(6, 7, 8, .7);
  text-decoration: underline
}

[dir=rtl] .btn-link.focus,
[dir=rtl] .btn-link:focus {
  text-decoration: underline;
  box-shadow: none
}

[dir=rtl] .btn-link.disabled,
[dir=rtl] .btn-link:disabled {
  color: #868e96;
  pointer-events: none
}

[dir=rtl] .btn-group-lg>.btn,
[dir=rtl] .btn-lg {
  padding: .5rem 2rem;
  font-size: 1.21875rem;
  line-height: 1.75;
  border-radius: .5rem
}

[dir=rtl] .btn-group-sm>.btn,
[dir=rtl] .btn-sm {
  padding: .25rem .5rem;
  font-size: .7109375rem;
  line-height: 1.5;
  border-radius: .2rem
}

[dir=rtl] .btn-block {
  display: block;
  width: 100%
}

[dir=rtl] .btn-block+.btn-block {
  margin-top: .5rem
}

[dir=rtl] input[type=button].btn-block,
[dir=rtl] input[type=reset].btn-block,
[dir=rtl] input[type=submit].btn-block {
  width: 100%
}

[dir=rtl] .fade {
  transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
  [dir=rtl] .fade {
      transition: none
  }
}

[dir=rtl] .fade:not(.show) {
  opacity: 0
}

[dir=rtl] .collapse:not(.show) {
  display: none
}

[dir=rtl] .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease
}

@media (prefers-reduced-motion:reduce) {
  [dir=rtl] .collapsing {
      transition: none
  }
}


[dir=rtl] .bg-primary {
  background-color: #5567ff!important
}

[dir=rtl] .bg-secondary {
  background-color: #868e96!important
}

[dir=rtl] .bg-success {
  background-color: #77c13a!important
}

[dir=rtl] .bg-info {
  background-color: #17a2b8!important
}

[dir=rtl] .bg-warning {
  background-color: #e4a93c!important
}

[dir=rtl] .bg-danger {
  background-color: #d9534f!important
}

[dir=rtl] .bg-light {
  background-color: #f8f9fa!important
}

[dir=rtl] .bg-dark {
  background-color: #303956!important
}

[dir=rtl] .bg-black {
  background-color: #272c33!important
}

[dir=rtl] .bg-accent,
[dir=rtl] .bg-accent-red {
  background-color: #ed0b4c!important
}

[dir=rtl] .bg-accent-yellow {
  background-color: #e4a93c!important
}

[dir=rtl] .bg-accent-dodger-blue {
  background-color: #5567ff!important
}

[dir=rtl] .bg-accent-pickled-bluewood {
  background-color: #303956!important
}

[dir=rtl] .bg-accent-electric-violet {
  background-color: #9c42ff!important
}

[dir=rtl] .bg-primary-purple {
  background-color: #824ee1!important
}

[dir=rtl] .bg-primary-red {
  background-color: #ed0b4c!important
}

[dir=rtl] .bg-primary-yellow {
  background-color: #e4a93c!important
}

[dir=rtl] .bg-primary-light {
  background-color: #9cf!important
}

[dir=rtl] .bg-primary-dodger-blue {
  background-color: #5567ff!important
}

[dir=rtl] .bg-primary-pickled-bluewood {
  background-color: #303956!important
}

[dir=rtl] .bg-white {
  background-color: #fff!important
}

[dir=rtl] .bg-alt {
  background: #fff!important
}

[dir=rtl] .bg-body {
  background-color: #f5f7fa!important
}

[dir=rtl] .bg-transparent {
  background: transparent!important
}

[dir=rtl] .bg-darker {
  background-color: #2b324c!important
}

[dir=rtl] .bg-gradient-purple {
  background-image: linear-gradient(-128deg, #8a4182, #3289dc)
}

[dir=rtl] .bg-gradient-primary {
  background-image: linear-gradient(128deg, #1e6dbd, #3287db)
}

[dir=rtl] .bg-dark-blue {
  background-color: #0c2440!important
}

[dir=rtl] .bg-dark-purple {
  background: #824ee1!important
}

[dir=rtl] .border-1 {
  border: 1px solid #e9edf2!important
}

[dir=rtl] .border-left-1 {
  border-left: 1px solid #e9edf2!important
}

[dir=rtl] .border-right-1 {
  border-right: 1px solid #e9edf2!important
}

[dir=rtl] .border-top-1 {
  border-top: 1px solid #e9edf2!important
}

[dir=rtl] .border-bottom-1 {
  border-bottom: 1px solid #e9edf2!important
}

[dir=rtl] .border-2 {
  border: 2px solid #e9edf2!important
}

[dir=rtl] .border-left-2 {
  border-left: 2px solid #e9edf2!important
}

[dir=rtl] .border-right-2 {
  border-right: 2px solid #e9edf2!important
}

[dir=rtl] .border-top-2 {
  border-top: 2px solid #e9edf2!important
}

[dir=rtl] .border-bottom-2 {
  border-bottom: 2px solid #e9edf2!important
}

[dir=rtl] .border-3 {
  border: 3px solid #e9edf2!important
}

[dir=rtl] .border-left-3 {
  border-left: 3px solid #e9edf2!important
}

[dir=rtl] .border-right-3 {
  border-right: 3px solid #e9edf2!important
}

[dir=rtl] .border-top-3 {
  border-top: 3px solid #e9edf2!important
}

[dir=rtl] .border-bottom-3 {
  border-bottom: 3px solid #e9edf2!important
}

[dir=rtl] .border-4 {
  border: 4px solid #e9edf2!important
}

[dir=rtl] .border-left-4 {
  border-left: 4px solid #e9edf2!important
}

[dir=rtl] .border-right-4 {
  border-right: 4px solid #e9edf2!important
}

[dir=rtl] .border-top-4 {
  border-top: 4px solid #e9edf2!important
}

[dir=rtl] .border-bottom-4 {
  border-bottom: 4px solid #e9edf2!important
}

[dir=rtl] .border {
  border: 1px solid #e9edf2!important
}

[dir=rtl] .border-top {
  border-top: 1px solid #e9edf2!important
}

[dir=rtl] .border-right {
  border-right: 1px solid #e9edf2!important
}

[dir=rtl] .border-bottom {
  border-bottom: 1px solid #e9edf2!important
}

[dir=rtl] .border-left {
  border-left: 1px solid #e9edf2!important
}

[dir=rtl] .border-0 {
  border: 0!important
}

[dir=rtl] .border-top-0 {
  border-top: 0!important
}

[dir=rtl] .border-right-0 {
  border-right: 0!important
}

[dir=rtl] .border-bottom-0 {
  border-bottom: 0!important
}

[dir=rtl] .border-left-0 {
  border-left: 0!important
}

@media (min-width:576px) {
  [dir=rtl] .border-sm {
      border: 1px solid #e9edf2!important
  }
  [dir=rtl] .border-top-sm {
      border-top: 1px solid #e9edf2!important
  }
  [dir=rtl] .border-right-sm {
      border-right: 1px solid #e9edf2!important
  }
  [dir=rtl] .border-bottom-sm {
      border-bottom: 1px solid #e9edf2!important
  }
  [dir=rtl] .border-left-sm {
      border-left: 1px solid #e9edf2!important
  }
  [dir=rtl] .border-sm-0 {
      border: 0!important
  }
  [dir=rtl] .border-top-sm-0 {
      border-top: 0!important
  }
  [dir=rtl] .border-right-sm-0 {
      border-right: 0!important
  }
  [dir=rtl] .border-bottom-sm-0 {
      border-bottom: 0!important
  }
  [dir=rtl] .border-left-sm-0 {
      border-left: 0!important
  }
}




[dir=rtl] .custom-select-sm+.custom-select-icon__icon,
[dir=rtl] .form-control-sm+.custom-select-icon__icon {
  font-size: .7109375rem
}

[dir=rtl] .form-control-lg+.custom-select-icon__icon {
  padding-top: .5rem;
  font-size: 1.21875rem
}

[dir=rtl] .sidebar-p-a {
  padding: 1.5rem
}

[dir=rtl] .sidebar-p-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

[dir=rtl] .sidebar-p-y {
  padding-bottom: 1.5rem
}

[dir=rtl] .sidebar-p-t,
[dir=rtl] .sidebar-p-y {
  padding-top: 1.5rem
}

[dir=rtl] .sidebar-p-b {
  padding-bottom: 1.5rem
}

[dir=rtl] .sidebar-p-l {
  padding-left: 1.5rem
}

[dir=rtl] .sidebar-p-l,
[dir=rtl] .sidebar-p-r {
  padding-right: 1.5rem
}

[dir=rtl] .sidebar-m-a {
  margin: 1.5rem
}

[dir=rtl] .sidebar-m-x {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

[dir=rtl] .sidebar-m-y {
  margin-bottom: 1.5rem
}

[dir=rtl] .sidebar-m-t,
[dir=rtl] .sidebar-m-y {
  margin-top: 1.5rem
}

[dir=rtl] .sidebar-m-b {
  margin-bottom: 1.5rem
}

[dir=rtl] .sidebar-m-l {
  margin-left: 1.5rem
}

[dir=rtl] .sidebar-m-r {
  margin-right: 1.5rem
}

[dir=rtl] .sidebar-b-a {
  border: 1px solid transparent
}

[dir=rtl] .sidebar-b-x {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent
}

[dir=rtl] .sidebar-b-y {
  border-bottom: 1px solid transparent
}

[dir=rtl] .sidebar-b-t,
[dir=rtl] .sidebar-b-y {
  border-top: 1px solid transparent
}

[dir=rtl] .sidebar-b-b {
  border-bottom: 1px solid transparent
}

[dir=rtl] .sidebar-block,
[dir=rtl] .sidebar>.sidebar-text,
[dir=rtl] .sidebar>p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem
}

[dir=rtl] .sidebar-brand {
  font-weight: 500;
  font-size: 1.625rem;
  margin-bottom: .75rem;
  display: flex;
  align-items: center
}

[dir=rtl] .sidebar-brand:hover {
  text-decoration: none
}

[dir=rtl] .sidebar-brand-icon {
  margin-right: .75rem
}

[dir=rtl] .sidebar-brand-header {
  height: 56px;
  line-height: 56px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%
}

[dir=rtl] .sidebar-brand-border {
  border-bottom: 1px solid transparent
}

[dir=rtl] .sidebar-heading {
  font-weight: 600;
  font-size: .9rem;
  font-family: Exo\ 2, Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: normal;
  padding-left: 1.5rem;
  height:40px;
  padding-right: 1.5rem;
  box-shadow: 0 3px 3px -2px rgba(39, 44, 51, .1), 0 3px 4px 0 rgba(39, 44, 51, .04), 0 1px 8px 0 rgba(39, 44, 51, .02);
  margin-bottom: 1.5rem
}

.sidebar-headig{
  box-shadow: 0 3px 3px -2px rgba(39, 44, 51, .1), 0 3px 4px 0 rgba(39, 44, 51, .04), 0 1px 8px 0 rgba(39, 44, 51, .02);

}

[dir=rtl] .sidebar-badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem
}

[dir=rtl] .sidebar-light {
  color: rgba(0, 0, 0, .54);
  background: #fff
}

[dir=rtl] .sidebar-light.sidebar-left {
  border-right: 1px solid #e5e5e5
}

[dir=rtl] .sidebar-light.sidebar-right {
  border-left: 1px solid #e5e5e5
}

[dir=rtl] .sidebar-light .sidebar-link {
  color: inherit
}

[dir=rtl] .sidebar-light [class*=sidebar-b-] {
  border-color: #e5e5e5
}

[dir=rtl] .sidebar-light .sidebar-text,
[dir=rtl] .sidebar-light p {
  color: rgba(0, 0, 0, .54)
}

[dir=rtl] .sidebar-light .sidebar-heading,
[dir=rtl] .sidebar-light .sidebar-heading>a {
  color: #949799
}

[dir=rtl] .sidebar-light hr {
  border-color: #e5e5e5
}

[dir=rtl] .sidebar-light .sidebar-brand {
  color: #272c33
}

[dir=rtl] .sidebar-light .sidebar-brand-bg {
  background: rgba(0, 0, 0, .07)
}

[dir=rtl] .sidebar-light .sidebar-brand-border {
  border-color: #e5e5e5
}

[dir=rtl] .sidebar-light .sidebar-menu-button {
  color: rgba(47, 55, 64, .4)
}

[dir=rtl] .sidebar-light .sidebar-menu-toggle-icon {
  color: rgba(0, 0, 0, .24)
}

[dir=rtl] .sidebar-light .sidebar-menu-icon {
  color: rgba(47, 55, 64, .2)
}

[dir=rtl] .sidebar-light .sidebar-menu-label {
  background: rgba(0, 0, 0, .3);
  color: #fff
}

[dir=rtl] .sidebar-light .sidebar-menu-button:hover {
  color: #8a9199;
  background: transparent
}

[dir=rtl] .sidebar-light .sidebar-menu-button:hover .sidebar-menu-icon,
[dir=rtl] .sidebar-light .sidebar-menu-button:hover .sidebar-menu-toggle-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-light .open {
  background: #f5f7fa
}

[dir=rtl] .sidebar-light .open>.sidebar-menu-button .sidebar-menu-toggle-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-light .open>.sidebar-menu-button {
  background: transparent;
  color: #8a9199
}

[dir=rtl] .sidebar-light .active>.sidebar-menu-button,
[dir=rtl] .sidebar-light .active>.sidebar-menu-button .sidebar-menu-icon,
[dir=rtl] .sidebar-light .open>.sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-light .sidebar-submenu .sidebar-menu-button {
  color: rgba(47, 55, 64, .4)
}

[dir=rtl] .sidebar-light .sidebar-submenu .sidebar-menu-icon {
  color: rgba(47, 55, 64, .2)
}

[dir=rtl] .sidebar-light .sidebar-submenu .active>.sidebar-menu-button,
[dir=rtl] .sidebar-light .sidebar-submenu .active>.sidebar-menu-button .sidebar-menu-icon,
[dir=rtl] .sidebar-light .sidebar-submenu .sidebar-menu-button:hover,
[dir=rtl] .sidebar-light .sidebar-submenu .sidebar-menu-button:hover .sidebar-menu-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-light .sm-bordered,
[dir=rtl] .sidebar-light .sm-bordered.sidebar-submenu {
  border-color: #e5e5e5
}

[dir=rtl] .sidebar-light .sm-item-bordered.sidebar-submenu>.sidebar-menu-item,
[dir=rtl] .sidebar-light .sm-item-bordered>.sidebar-menu-item {
  border-color: #e9edf2
}

[dir=rtl] .sidebar-light .sm-icons-block>.sidebar-menu-item>.sidebar-menu-button .sidebar-menu-icon {
  background: rgba(0, 0, 0, .12);
  color: rgba(47, 55, 64, .2)
}

[dir=rtl] .sidebar-light .sm-icons-block>.sidebar-menu-item.open>.sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199;
  background: rgba(0, 0, 0, .12)
}

[dir=rtl] .sidebar-light .sm-active-button-bg>.active>.sidebar-menu-button,
[dir=rtl] .sidebar-light .sm-icons-block>.sidebar-menu-item.active>.sidebar-menu-button .sidebar-menu-icon {
  background: #5567ff;
  color: #fff
}

[dir=rtl] .sidebar-light .sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-icon,
[dir=rtl] .sidebar-light .sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-toggle-icon {
  color: #fff
}

[dir=rtl] .sidebar-light .sm-icons-block.sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-icon {
  background: #5567ff
}

[dir=rtl] .sidebar-dark {
  color: hsla(0, 0%, 100%, .54);
  background: #303956
}

[dir=rtl] .sidebar-dark.sidebar-left {
  border-right: 1px solid rgba(0, 0, 0, .15)
}

[dir=rtl] .sidebar-dark.sidebar-right {
  border-left: 1px solid rgba(0, 0, 0, .15)
}

[dir=rtl] .sidebar-dark .sidebar-link {
  color: #fff
}

[dir=rtl] .sidebar-dark [class*=sidebar-b-] {
  border-color: rgba(46, 49, 51, .9)
}

[dir=rtl] .sidebar-dark .sidebar-text,
[dir=rtl] .sidebar-dark p {
  color: hsla(0, 0%, 100%, .54)
}

[dir=rtl] .sidebar-dark .sidebar-heading,
[dir=rtl] .sidebar-dark .sidebar-heading>a {
  color: #949799
}

[dir=rtl] .sidebar-dark hr {
  border-color: rgba(46, 49, 51, .9)
}

[dir=rtl] .sidebar-dark .sidebar-brand {
  color: #fff
}

[dir=rtl] .sidebar-dark .sidebar-brand-bg {
  background: rgba(0, 0, 0, .12)
}

[dir=rtl] .sidebar-dark .sidebar-brand-border {
  border-color: rgba(46, 49, 51, .9)
}

[dir=rtl] .sidebar-dark .sidebar-menu-button,
[dir=rtl] .sidebar-dark .sidebar-menu-toggle-icon {
  color: rgba(172, 182, 191, .5)
}

[dir=rtl] .sidebar-dark .sidebar-menu-icon {
  color: rgba(172, 182, 191, .2)
}

[dir=rtl] .sidebar-dark .sidebar-menu-button:hover {
  color: #fff;
  background: transparent
}

[dir=rtl] .sidebar-dark .sidebar-menu-button:hover .sidebar-menu-icon,
[dir=rtl] .sidebar-dark .sidebar-menu-button:hover .sidebar-menu-toggle-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-dark .open {
  background: #272c33
}

[dir=rtl] .sidebar-dark .open>.sidebar-menu-button .sidebar-menu-toggle-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-dark .open>.sidebar-menu-button {
  background: transparent;
  color: #8a9199
}

[dir=rtl] .sidebar-dark .open>.sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199
}

[dir=rtl] .sidebar-dark .active>.sidebar-menu-button,
[dir=rtl] .sidebar-dark .active>.sidebar-menu-button .sidebar-menu-icon {
  color: #fff
}

[dir=rtl] .sidebar-dark .sidebar-submenu .sidebar-menu-button {
  color: rgba(172, 182, 191, .5)
}

[dir=rtl] .sidebar-dark .sidebar-submenu .sidebar-menu-icon {
  color: rgba(172, 182, 191, .2)
}

[dir=rtl] .sidebar-dark .sidebar-submenu .active>.sidebar-menu-button,
[dir=rtl] .sidebar-dark .sidebar-submenu .active>.sidebar-menu-button .sidebar-menu-icon,
[dir=rtl] .sidebar-dark .sidebar-submenu .sidebar-menu-button:hover,
[dir=rtl] .sidebar-dark .sidebar-submenu .sidebar-menu-button:hover .sidebar-menu-icon {
  color: #fff
}

[dir=rtl] .sidebar-dark .sm-bordered,
[dir=rtl] .sidebar-dark .sm-bordered.sidebar-submenu,
[dir=rtl] .sidebar-dark .sm-item-bordered.sidebar-submenu>.sidebar-menu-item,
[dir=rtl] .sidebar-dark .sm-item-bordered>.sidebar-menu-item {
  border-color: rgba(46, 49, 51, .9)
}

[dir=rtl] .sidebar-dark .sm-icons-block>.sidebar-menu-item>.sidebar-menu-button .sidebar-menu-icon {
  background: rgba(0, 0, 0, .12);
  color: rgba(172, 182, 191, .2)
}

[dir=rtl] .sidebar-dark .sm-icons-block>.sidebar-menu-item.open>.sidebar-menu-button .sidebar-menu-icon {
  color: #8a9199;
  background: rgba(0, 0, 0, .12)
}

[dir=rtl] .sidebar-dark .sm-active-button-bg>.active>.sidebar-menu-button,
[dir=rtl] .sidebar-dark .sm-icons-block>.sidebar-menu-item.active>.sidebar-menu-button .sidebar-menu-icon {
  background: hsla(0, 0%, 100%, .12);
  color: #fff
}

[dir=rtl] .sidebar-dark .sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-icon,
[dir=rtl] .sidebar-dark .sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-toggle-icon {
  color: #fff
}

[dir=rtl] .sidebar-dark .sm-icons-block.sm-active-button-bg>.active>.sidebar-menu-button .sidebar-menu-icon {
  background: hsla(0, 0%, 100%, .12)
}

[dir=rtl] .sidebar-menu {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none
}

[dir=rtl] .sidebar-menu-item {
  position: relative;
  overflow: hidden
}

[dir=rtl] .sidebar-menu-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 40px;
  padding: 0 1.5rem;
  font-size: 15px
}

[dir=rtl] .sidebar-menu-button,
[dir=rtl] .sidebar-menu-button:focus,
[dir=rtl] .sidebar-menu-button:hover {
  text-decoration: none
}

[dir=rtl] .active>.sidebar-menu-button {
  font-weight: 500
}

[dir=rtl] .sidebar-menu-toggle-icon {
  position: relative;
  font-size: 1.25rem
}

[dir=rtl] .sidebar-menu-toggle-icon:before {
  font-family: Material Icons;
  content: "\E315";
  display: flex;
  align-items: center;
  font-size: inherit;
  color: inherit
}

[dir=rtl] .open>.sidebar-menu-button .sidebar-menu-toggle-icon:before {
  content: "\E315"
}

[dir=rtl] .sidebar-menu-icon {
  vertical-align: middle;
  font-size: 24px;
  display: inline-block;
  line-height: normal;
  position: relative
}

[dir=rtl] .sidebar-menu-icon--left {
  margin-right: .5rem
}

[dir=rtl] .sidebar-menu-icon--right {
  margin-left: .5rem
}

[dir=rtl] .sidebar-menu-badge {
  padding: .2rem .3rem;
  font-size: .75rem
}

[dir=rtl] .sidebar-menu-badge,
[dir=rtl] .sidebar-menu-toggle-icon {
  margin-left: 8px
}

[dir=rtl] .sidebar-submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0
}

[dir=rtl] .open>.sidebar-submenu {
  display: block
}

[dir=rtl] .sidebar-submenu .sidebar-menu-button {
  line-height: 32px;
  font-size: 15px
}

[dir=rtl] .sidebar-submenu .sidebar-menu-icon {
  font-size: 24px
}

[dir=rtl] .sm-icons-1 .sidebar-menu-icon {
  font-size: 1rem
}

[dir=rtl] .sm-icons-small .sidebar-menu-icon {
  font-size: .875rem
}

[dir=rtl] .sm-condensed>.sidebar-menu-item>.sidebar-menu-button {
  line-height: 30px
}

[dir=rtl] .sm-condensed.sidebar-submenu>.sidebar-menu-item>.sidebar-menu-button {
  line-height: 24px
}

[dir=rtl] .sm-bordered,
[dir=rtl] .sm-item-bordered>.sidebar-menu-item {
  border-bottom-style: solid;
  border-bottom-width: 1px
}

[dir=rtl] .sm-item-bordered .sidebar-submenu,
[dir=rtl] .sm-item-bordered>.sidebar-menu-item:last-of-type {
  border-bottom: none
}

[dir=rtl] .sm-icons-block>.sidebar-menu-item>.sidebar-menu-button .sidebar-menu-icon {
  text-align: center;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px
}

[dir=rtl] .sm-icons-block.sidebar-submenu>.sidebar-menu-item>.sidebar-menu-button .sidebar-menu-icon {
  height: 30px;
  line-height: 30px;
  width: 30px
}

[dir=rtl] .sm-indent>.sidebar-menu-item .sidebar-menu-button {
  padding-left: 3rem
}

[dir=rtl] .mdk-drawer {
  z-index: 1
}

[dir=rtl] .mdk-drawer__content {
  background: transparent
}







[dir=rtl] .accordion {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

[dir=rtl] .accordion__item {
  position: relative;
  border:0 !important;
  border-radius: 0 !important;
  display: block;
  padding-bottom: 10px;
  border-top: 1px solid rgb(230, 230, 230) !important;
}


[dir=rtl] .accordion__item:first-child{
  border-top: 0 !important;
}

[dir=rtl] .accordion__item:not(:last-child) {
  border-bottom: 1px solid #e9edf2
}

[dir=rtl] .accordion__item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

[dir=rtl] .accordion__item:last-child {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

[dir=rtl] .accordion__toggle {
  padding: .75rem 1rem .75rem 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  color: #272c33;
  font-weight: 500
}

[dir=rtl] .accordion__toggle-icon {
  transform: rotate(0)
}

[dir=rtl] .accordion__item.open .accordion__toggle-icon {
  transform: rotate(-180deg)
}

[dir=rtl] .accordion__menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgba(37, 39, 43, 0.7);
  font-size:11px;
  padding: .5rem 1rem .5rem 1.5rem
}

[dir=rtl] .accordion__menu-link:not(:last-child) {
  margin-bottom: -1px;
  border-bottom: 1px solid #e9edf2
}

[dir=rtl] .accordion__menu-link:focus,
[dir=rtl] .accordion__menu-link:hover {
  z-index: 1
}

[dir=rtl] .accordion__menu-link.active {
  color: #272c33;
  font-weight: 500
}

[dir=rtl] .accordion__menu-link a {
  color: inherit
}

[dir=rtl] .accordion--boxed {
  margin-bottom: 0
}

[dir=rtl] .accordion--boxed .accordion__item {
  background-color: #fff;
  margin-top: -10px;
  border-top: 1px solid #ccc;
  background-clip: border-box;
  border-radius: .5rem;
}

[dir=rtl] .accordion--boxed .accordion__item:last-child {
  margin-bottom: 0
}




