{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="contents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Notifications Dashboard</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-default card-md mb-4">
                    <div class="card-header  py-20">
                        <h6>you have {{ notifications | length }} notifications </h6>
                        {% if request.user.role == 2 %}
                        <div class="action-btn">
                            <a href="#" class="btn px-15 btn-primary" onclick="showNotiModal()">
                                <i class="las la-plus fs-16"></i>Add New Notification
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="page-title-block bg-lighter bg-container">
                            {% for notification in notifications %}
                            <div class="page-title-bg bg-white">
                                <div class="page-title-wrap ">
                                    <div class="page-title d-flex justify-content-between">
                                        <div class="page-title__left">
                                            {% if notification.sender.role < 2 %}
                                            <img src="{% static 'img/favicon.png' %}" style="width:35px;height:30px; border-radius: 50%"/>
                                            <span class="title-text">Booctep's Admin</span>
                                            {% else %}
                                            <img
                                                {% if notification.sender.img == '' %}
                                                    src="{% static 'img/author/profile.png' %}"
                                                    {% else %}
                                                    src="{% static notification.sender.img %}"
                                                    {% endif %}
                                                 style="width:35px;height:30px; border-radius: 50%"/>
                                            <span class="title-text">{{ notification.sender.name }}</span>
                                            {% endif %}
                                            <span class="sub-title" style="margin-right:120px">{{ notification.time | date:"D d-m-Y" }}</span>
                                            <a href="#">
                                                <span data-feather="trash-2" data-toggle="modal"
                                                      data-target="#modal-info-delete" onclick="showDeleteNotiModal('{{ notification.id }}')"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-info d-flex">
                                    <div class="page-info__item">
                                        <div class="page-info__single">
                                            <span class="info-text"><a href="/sub_notification/?noti_id={{ notification.id }}">{{ notification.title }}</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- ends: .card -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade add-contact" id="add-contact" role="dialog" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h6 class="modal-title fw-500">Send
                    notification</h6>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span data-feather="x"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="add-new-contact">
                    <div class="form-group mb-20">
                        <input type="text" class="form-control" id="noti_title"
                               placeholder="Notification title">
                    </div>
                    <div class="form-group mb-20">
                        <textarea class="form-control"
                                  id="noti_content" rows="3"
                                  placeholder="Notification description"></textarea>
                    </div>
                    <div class="button-group d-flex pt-20">
                        <button class="btn btn-primary btn-default btn-squared " onclick="sendNoti()">
                            Send notification
                        </button>
                        <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize b-light color-light">
                            cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-info-delete modal fade show" id="modal-info-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-info-body d-flex">
                    <div class="modal-info-icon warning">
                        <span data-feather="info"></span>
                    </div>
                    <div class="modal-info-text">
                        <h6>Are you sure you want to delete this Notification?</h6>
                        <p>This is serious act please make sure what you doing!</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-outlined btn-sm" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success btn-outlined btn-sm" data-dismiss="modal" onclick="deleteNoti()">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

    let cur_noti_id = '';
    function showNotiModal() {
        $("#add-contact").modal("show")
    }

    function sendNoti() {
        $("#add-contact").modal("hide")
        let title = $("#noti_title").val()
        let content = $("#noti_content").val()
        let sender = '{{ request.user.id }}'
        // socket.emit('employee_to_admin', {
        //     title: title,
        //     content: content,
        //     sender_id: sender,
        // })
        let url = '/save_notification_from_employee/';
        let form_data = new FormData()
        form_data.append('title', title)
        form_data.append('content', content)
        form_data.append('sender_id', sender)
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            async: false,
            contentType: false,
            processData: false,
            data: form_data,
            beforeSend: function () {
            },
            success: function (data) {
                // if(data.msg == "success"){
                //     console.log(data.msg)
                // } else {
                // }
                // location.reload()
            },
        })
    }

    function deleteNoti() {
        let url = '/delete_notification/';
        let form_data = new FormData()
        form_data.append('id', cur_noti_id)
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            async: false,
            contentType: false,
            processData: false,
            data: form_data,
            beforeSend: function () {
            },
            success: function (data) {
                 setTimeout(()=>{
                     location.reload()
                 }, 2000)
                 $("#yaro_message_button").click()
            },
        })
    }

    function showDeleteNotiModal(id) {
        cur_noti_id = id
    }

</script>
{% endblock %}