{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <div class="contents">

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">

                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Security Check Dashboard</h4>
                    </div>

                </div>
                <div class="col-xl-4 col-md-4">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details ap-po-details--2 p-30 radius-xl bg-white d-flex justify-content-between mb-25">
                        <div>
                            <div class="overview-content overview-content3">
                                <div class="d-flex">
                                    <div class="revenue-chart-box__Icon mr-20 order-bg-opacity-primary">
                                        <img src="{% static 'img/svg/customer.svg' %}" alt="img" class="svg">
                                    </div>
                                    <div>
                                        <h2>All status</h2>
                                        <p class="mb-3 mt-1" style="color: green">Ok</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>
                <div class="col-xl-4 col-md-4">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details ap-po-details--2 p-30 radius-xl bg-white d-flex justify-content-between mb-25">
                        <div>


                            <div class="overview-content overview-content3">
                                <div class="d-flex">
                                    <div class="revenue-chart-box__Icon mr-20 order-bg-opacity-primary">
                                        <img src="{% static 'img/svg/customer.svg' %}" alt="img" class="svg">
                                    </div>
                                    <div>
                                        <h2>DNS</h2>
                                        <p class="mb-3 mt-1" style="color: green">Ok</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>
                <div class="col-xl-4 col-md-4">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details ap-po-details--2 p-30 radius-xl bg-white d-flex justify-content-between mb-25">
                        <div>


                            <div class="overview-content overview-content3">
                                <div class="d-flex">
                                    <div class="revenue-chart-box__Icon mr-20 order-bg-opacity-primary">
                                        <img src="{% static 'img/svg/customer.svg' %}" alt="img" class="svg">
                                    </div>
                                    <div>
                                        <h2>Website</h2>
                                        <p class="mb-3 mt-1" style="color: green">Ok</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>


            </div>
        </div>

    </div>
{% endblock %}