{% extends 'layout/base.html' %}
{% block content %}
{% load static %}

<div class="contents">
    <div class="profile-setting ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">My profile</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-5">
                    <!-- Profile Acoount -->
                    <div class="card mb-25">
                        <div class="card-body text-center p-0">
                            <div class="account-profile border-bottom pt-25 px-25 pb-0 flex-column d-flex align-items-center ">
                                <div class="ap-img mb-20 pro_img_wrapper">
                                    <input id="file-upload" type="file" name="fileUpload" class="d-none">
                                    <label for="file-upload">
                                        <!-- Profile picture image-->
                                        <img class="ap-img__main rounded-circle wh-120" id="profile_pic"
                                             {% if user.img == '' %}
                                             src="{% static 'img/author/profile.png' %}"
                                             {% else %}
                                             src="{% static user.img %}"
                                             {% endif %}
                                             alt="profile">
                                        <span class="cross" id="remove_pro_pic">
                                                <span data-feather="camera"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="ap-nameAddress pb-3">
                                    <h5 class="ap-nameAddress__title">{{ user.name }}</h5>
                                    <p class="ap-nameAddress__subTitle fs-14 m-0">{{ user.position.name }}</p>
                                </div>
                            </div>
                            <div class="ps-tab p-20 pb-25">
                                <div class="nav flex-column text-left" id="v-pills-tab" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                       href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                       aria-selected="true">
                                        <span data-feather="user"></span>Edit profile</a>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                       href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                       aria-selected="false">
                                        <span data-feather="settings"></span>Account
                                        setting</a>
                                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                       href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                       aria-selected="false">
                                        <span data-feather="key"></span>change password</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Profile Acoount End -->
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-7">
                    <div class="">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade  show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <!-- Edit Profile -->
                                <div class="edit-profile">
                                    <div class="card">
                                        <div class="card-header px-sm-25 px-3">
                                            <div class="edit-profile__title">
                                                <h6>Edit Profile</h6>
                                                <span class="fs-13 color-light fw-400">Set up your personal
                                                            information</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-6 col-lg-8 col-sm-10">
                                                    <div class="edit-profile__body mx-lg-20">
                                                        <div class="form-group mb-20">
                                                            <label for="names">name</label>
                                                            <input type="text" class="form-control" id="name"
                                                                   placeholder="Elzubair Mohammed" value="{{ user.name }}">
                                                        </div>
                                                        <div class="form-group mb-20">
                                                            <label for="names">address</label>
                                                            <input type="text" class="form-control" id="address"
                                                                   placeholder="address" value="{{ user.address }}">
                                                        </div>
                                                        <div class="button-group d-flex flex-wrap pt-30 mb-15">
                                                            <button class="btn btn-primary btn-default btn-squared mr-15 text-capitalize" onclick="updateProfile()">
                                                                update profile
                                                            </button>
                                                            <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize">
                                                                cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit Profile End -->
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">
                                <!-- Edit Profile -->
                                <div class="edit-profile ">
                                    <div class="card">
                                        <div class="card-header  px-sm-25 px-3">
                                            <div class="edit-profile__title">
                                                <h6>Email setting</h6>
                                                <span class="fs-13 color-light fw-400">Update your username and manage your
                                                            account</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-6 col-lg-8 col-sm-10">
                                                    <div class="edit-profile__body mx-lg-20">
                                                        <div class="form-group mb-20">
                                                            <label for="email">Email</label>
                                                            <input type="email" class="form-control" id="email"
                                                                   placeholder="alzober1414@gmail.com" value="{{ user.email }}">
                                                        </div>
                                                        <div class="button-group d-flex flex-wrap pt-30 mb-15">
                                                            <button class="btn btn-primary btn-default btn-squared mr-15 text-capitalize" onclick="updateProfile()">
                                                                update Email
                                                            </button>
                                                            <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize">
                                                                cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit Profile End -->
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                 aria-labelledby="v-pills-messages-tab">
                                <!-- Edit Profile -->
                                <div class="edit-profile">
                                    <div class="card">
                                        <div class="card-header  px-sm-25 px-3">
                                            <div class="edit-profile__title">
                                                <h6>change password</h6>
                                                <span class="fs-13 color-light fw-400">Change or reset your account
                                                            password</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="edit-profile__body mx-lg-20">
                                                        <div class="form-group mb-20">
                                                            <label for="name">old passowrd</label>
                                                            <input type="text" class="form-control" id="old_password" value="{{ user.password }}">
                                                        </div>
                                                        <div class="form-group mb-1">
                                                            <label for="password-field">new password</label>
                                                            <div class="position-relative">
                                                                <input id="password" type="password"
                                                                       class="form-control pr-50"
                                                                       name="password" value="">
                                                                <span class="fa fa-fw fa-eye-slash text-light fs-16 field-icon toggle-password2"></span>
                                                            </div>
                                                            <small id="passwordHelpInline" class="text-light fs-13">Minimum 6 characters
                                                            </small>
                                                        </div>
                                                        <div class="button-group d-flex flex-wrap pt-45 mb-35">
                                                            <button class="btn btn-primary btn-default btn-squared mr-15 text-capitalize" onclick="updateProfile()">
                                                                Save Changes
                                                            </button>
                                                            <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize">
                                                                cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit Profile End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script>

    $("#file-upload").on('change', function(e) {
        var reader = new FileReader()
        reader.onload = function (e) {
            $("#profile_pic").attr('src', e.target.result)
        }
        reader.readAsDataURL(this.files[0]);
    })

    function updateProfile() {
        let img = $("#file-upload")[0].files[0]
        let name = $("#name").val()
        let address = $("#address").val()
        let email = $("#email").val()
        let password = $("#password").val()
        let id = '{{ user.id }}';
        let data = new FormData();
        data.append('id', id);
        data.append('img', img);
        data.append('name', name);
        data.append('address', address);
        data.append('email', email);
        data.append('password', password);
        let url = '/update_profile/'
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            async: false,
            contentType: false,
            processData: false,
            data: data,
            beforeSend: function () {
            },
            success: function (data) {
                if(data.msg == "success") {
                    location.href = '/'
                }
            },
        })
    }

</script>
{% endblock %}