<li class="sidebar-menu-item{% if slug === 'pricing' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}pricing.html">
    <span class="sidebar-menu-text">Pricing</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'login' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}login.html">
    <span class="sidebar-menu-text">Login</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'signup' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}signup.html">
    <span class="sidebar-menu-text">Signup</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'signup-payment' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}signup-payment.html">
    <span class="sidebar-menu-text">Payment</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'reset-password' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}reset-password.html">
    <span class="sidebar-menu-text">Reset Password</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'change-password' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}change-password.html">
    <span class="sidebar-menu-text">Change Password</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'edit-account' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}edit-account.html">
    <span class="sidebar-menu-text">Edit Account</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'edit-account-profile' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}edit-account-profile.html">
    <span class="sidebar-menu-text">Profile &amp; Privacy</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'edit-account-notifications' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}edit-account-notifications.html">
    <span class="sidebar-menu-text">Email Notifications</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'edit-account-password' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}edit-account-password.html">
    <span class="sidebar-menu-text">Account Password</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'billing' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}billing.html">
    <span class="sidebar-menu-text">Subscription</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'billing-upgrade' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}billing-upgrade.html">
    <span class="sidebar-menu-text">Upgrade Account</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'billing-payment' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}billing-payment.html">
    <span class="sidebar-menu-text">Payment Information</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'billing-history' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}billing-history.html">
    <span class="sidebar-menu-text">Payment History</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'billing-invoice' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}billing-invoice.html">
    <span class="sidebar-menu-text">Invoice</span>
  </a>
</li>