<li class="sidebar-menu-item{% if slug === 'faq' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}faq.html">
    <span class="sidebar-menu-text">FAQ</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussions' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussions.html">
    <span class="sidebar-menu-text">Discussions</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussion' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussion.html">
    <span class="sidebar-menu-text">Discussion Details</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussions-ask' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussions-ask.html">
    <span class="sidebar-menu-text">Ask Question</span>
  </a>
</li>