<li class="sidebar-menu-item{% if slug === 'ui-buttons' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-buttons.html">
    <span class="sidebar-menu-text">Buttons</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-avatars' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-avatars.html">
    <span class="sidebar-menu-text">Avatars</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-forms' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-forms.html">
    <span class="sidebar-menu-text">Forms</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-loaders' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-loaders.html">
    <span class="sidebar-menu-text">Loaders</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-tables' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-tables.html">
    <span class="sidebar-menu-text">Tables</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-cards' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-cards.html">
    <span class="sidebar-menu-text">Cards</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-icons' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-icons.html">
    <span class="sidebar-menu-text">Icons</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-tabs' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-tabs.html">
    <span class="sidebar-menu-text">Tabs</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-alerts' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-alerts.html">
    <span class="sidebar-menu-text">Alerts</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-badges' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-badges.html">
    <span class="sidebar-menu-text">Badges</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-progress' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-progress.html">
    <span class="sidebar-menu-text">Progress</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-pagination' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-pagination.html">
    <span class="sidebar-menu-text">Pagination</span>
  </a>
</li>
<!-- <li class="sidebar-menu-item{% if slug === 'ui-typography' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-typography.html">
    <span class="sidebar-menu-text">Typography</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-colors' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-colors.html">
    <span class="sidebar-menu-text">Colors</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-breadcrumb' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-breadcrumb.html">
    <span class="sidebar-menu-text">Breadcrumb</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-accordions' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-accordions.html">
    <span class="sidebar-menu-text">Accordions</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-modals' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-modals.html">
    <span class="sidebar-menu-text">Modals</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-chips' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-chips.html">
    <span class="sidebar-menu-text">Chips</span>
  </a>
</li> -->
<li class="sidebar-menu-item">
  <a class="sidebar-menu-button disabled" href="">
    <span class="sidebar-menu-text">Disabled</span>
  </a>
</li>