<li class="sidebar-menu-item{% if slug === 'index' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}index.html">
    <span class="sidebar-menu-text">Analytics Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'analytics' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}analytics.html">
    <span class="sidebar-menu-text">Analytics 2 Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'projects' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}projects.html">
    <span class="sidebar-menu-text">Projects Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'tasks-board' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}tasks-board.html">
    <span class="sidebar-menu-text">Tasks Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'staff' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}staff.html">
    <span class="sidebar-menu-text">Staff Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ecommerce' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ecommerce.html">
    <span class="sidebar-menu-text">Shop Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'erp-dashboard' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}erp-dashboard.html">
    <span class="sidebar-menu-text">ERP Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'crm-dashboard' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}crm-dashboard.html">
    <span class="sidebar-menu-text">CRM Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'hr-dashboard' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}hr-dashboard.html">
    <span class="sidebar-menu-text">HR Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'cms-dashboard' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}cms-dashboard.html">
    <span class="sidebar-menu-text">CMS Dashboard</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-card-metrics' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}ui-card-metrics.html">
    <span class="sidebar-menu-text">Card Metrics</span>
  </a>
</li>