<li class="sidebar-menu-item{% if slug === 'ui-plugin-charts' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-charts.html">
    <span class="sidebar-menu-text">Charts</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-flatpickr' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-flatpickr.html">
    <span class="sidebar-menu-text">Flatpickr</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-daterangepicker' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-daterangepicker.html">
    <span class="sidebar-menu-text">Date Range Picker</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-dragula' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-dragula.html">
    <span class="sidebar-menu-text">Dragula</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-dropzone' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-dropzone.html">
    <span class="sidebar-menu-text">Dropzone</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-range-sliders' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-range-sliders.html">
    <span class="sidebar-menu-text">Range Sliders</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-quill' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-quill.html">
    <span class="sidebar-menu-text">Quill</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-select2' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-select2.html">
    <span class="sidebar-menu-text">Select2</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-nestable' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-nestable.html">
    <span class="sidebar-menu-text">Nestable</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-fancytree' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-fancytree.html">
    <span class="sidebar-menu-text">Fancy Tree</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-maps-vector' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-maps-vector.html">
    <span class="sidebar-menu-text">Vector Maps</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-sweet-alert' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-sweet-alert.html">
    <span class="sidebar-menu-text">Sweet Alert</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-plugin-toastr' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}ui-plugin-toastr.html">
    <span class="sidebar-menu-text">Toastr</span>
  </a>
</li>
<li class="sidebar-menu-item">
  <a class="sidebar-menu-button disabled" href="">
    <span class="sidebar-menu-text">Disabled</span>
  </a>
</li>