<li class="sidebar-menu-item{% if slug === 'projects' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}projects.html">
    <span class="sidebar-menu-text">Projects</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'tasks-board' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}tasks-board.html">
    <span class="sidebar-menu-text">Tasks Board</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'tasks-list' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}tasks-list.html">
    <span class="sidebar-menu-text">Tasks List</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'kanban' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}kanban.html">
    <span class="sidebar-menu-text">Kanban</span>
  </a>
</li>
<!-- <li class="sidebar-menu-item{% if slug === 'task-details' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}task-details.html">
    <span class="sidebar-menu-text">Task Details</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'team-members' %} active{% endif %}">
  <a class="sidebar-menu-button disabled" href="{{ prefix }}team-members.html">
    <span class="sidebar-menu-text">Team Members</span>
  </a>
</li> -->