<div class="{% if layout !== 'sticky' %}js-fix-footer2 {% endif %}{{ footer_bg }} border-top-2">
  <div class="{{ containerClass }} page-section d-flex flex-column">
    <p class="text-{% if footer_dark %}white-{% endif %}70 brand mb-24pt">
      <img class="brand-icon" src="{{ footer_logo }}" width="30" alt="{{ brand }}"> {{ brand }}
    </p>
    <p class="measure-lead-max text-{% if footer_dark %}white-{% endif %}50 small mr-8pt">{{ brand }} is a beautifully crafted user interface for modern Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
    <p class="mb-8pt d-flex">
      <a href="" class="text-{% if footer_dark %}white-{% endif %}70 text-underline mr-8pt small">Terms</a>
      <a href="" class="text-{% if footer_dark %}white-{% endif %}70 text-underline small">Privacy policy</a>
    </p>
    <p class="text-{% if footer_dark %}white-{% endif %}50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
  </div>
</div>