{% load static %}
{% load i18n %}
{% if lang == "ar" %}
    {% include 'ar/home/contents.html' %}
{% else %}
<!-- Section Up -->
<section class="hero is-medium hero-homepage">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% trans 'Are you ready to learn?' %}
        </h1>


        <div class="typewritter">
           <div class="container-title" style="margin-bottom:15px">
               <h1 class="typewritter-title">
                   <span class="primary__title" style="color: #fff;font-weight: 500;font-size: large">{% trans 'Learn' %}  &nbsp;</span><span class="secondary__title"> </span></h1>
           </div>
         </div>

        <div id="global-search" class="control searching">
            <input id="tipue_drop_input1" class="input-homepage input" type="text" placeholder="{% trans 'Search' %}" required>
        </div>
      </div>
    </div>
</section>
<!-- Section -->
{% endif %}