{% extends "base.html" %}

{% block content %}
    {% load static %}

    {% load i18n %}
    
    <style>
      
        .process-bar-wrap {
            margin-top: 45px;
        }

        @media only screen and (max-width: 700px) {
            .process-bar-wrap {
                margin-top: 75px !important;
            }
        }

        .signup-wrapper .process-bar .progress-wrap {
    position: relative;
    margin: 0 12px;
    width: calc(100% - 24px);
    height: 6px;
    border-radius: 100px
}



/* line 65, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .track {
    background: #eaeaea;
}


/* line 70, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .bar {
    background: #4479ce;
}


/* line 76, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot {
    background: #fff;
    border: 1.4px solid #e8e8e8;
}


/* line 110, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active {
    border-color: #699df1;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 114, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active svg {
    stroke: #57a7e9;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 119, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current {
    border-color: #df9a97;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 123, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current svg {
    stroke: #df9a97
}


        
        .icn{
            background-color: inherit;
        }

        .icn-dark{
            background-color: #222831 !important;
            border: 1px solid #646f80!important;
            box-shadow: none !important;
        }

        .bar{
            background-color: inherit;
        }
        .bar-dark{
            background-color: #8795a8 !important;
        }

        .progress-wrap.is-active i{
            color: #222831 !important;
        }


.mediabout{
    color: rgb(9, 23, 41) !important;
}
  
.mediabout-dark{
   color: rgb(155, 155, 155) !important;
}


.account-type-dark{
    background-color: #14161a !important;
    border: 1px solid rgb(15, 16, 17);
}

.account-type-dark:hover{
    border: 1px solid rgb(27, 94, 133) !important;
}

.signup-wrapper .process-bar {
    background: none !important;
}
.track{
    background: rgb(230, 230, 230) !important;
}
.track-dark{
    background: rgb(88, 91, 99) !important;
}


.is-light{
  border:1px solid rgb(221, 221, 221) !important;
}

.is-light-dark{
  background-color: #222831 !important;
  border: 1px solid #0c0d0f !important;
  color: rgb(175, 175, 175) !important;
}



.signin-button-is-dark{
    background-color: #0a0c0e;
    color: #ccc !important;
    border: 1px solid #060707;
}

.signin-button-is-dark:hover{
    border: 1px solid #060707;
}
.signup-button-is-dark:hover{
    border: 1px solid #060707 !important;
}

.hrrrr{
    
}
    .soci{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

    .soci:hover{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark:hover{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig:hover{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark:hover{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

.hrrrr-dark{
    background-color: #202329 !important;
}

#div_error{
    color: #df9a97;
}

.input-dark{
    background: none !important;
}


.field{
    background-color: inherit;
}
.field-dark{
    background: #cbd6df !important;
    border: 1px solid #222831 !important;
    color: #030303 !important;
}

    </style>

    <div class="products-navigation" style="display: none;">
    </div>

    <div id="shop-page" class="shop-wrapper">
        <!-- Signup steps -->
        <div class="container">
            <div class="signup-wrapper signup-wrapper-pad">
                <div class="card card-dark">
                    <div class="process-bar-wrap">
                        <div class="process-bar ">
                            <div class="progress-wrap">
                                <div class="track track-dark"></div>
                                <div class="bar bar-dark"></div>
                                <div id="step-dot-1" class="dot is-first is-active is-current icn icn-dark" data-step="0">
                                    <i data-feather="smile" style=""></i>
                                </div>
                                <div id="step-dot-2" class="dot is-second icn icn-dark" data-step="50">
                                    <i data-feather="user"></i>
                                </div>
                                <div id="step-dot-3" class="dot is-third icn icn-dark" data-step="100">
                                    <i data-feather="flag"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outer-panel">
                        <div class="outer-panel-inner">
                            <div class="process-title" style="margin-top: 40px;">
                                <h2 id="step-title-1" class="step-title mainpanel is-active mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'Sign up' %}</h2>
                                
                                
                                <h2 id="step-title-2" class="step-title mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'Tell us more about you.' %}</h2>
                                <h2 id="step-title-3" class="step-title mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'we sent you an email to activate your account.' %}</h2>
                            </div>
                            <input type="hidden" id="type" name="type"/>
                            <input type="hidden" id="subcategory" name="subcategory"/>
                            <input type="hidden" id="category" name="category"/>

                            <div id="signup-panel-1" class="process-panel-wrap mainpanel is-active">
                                <div class="columns">
                                    <!-- is-offset-3 -->
                                    {% if lang == 'ar/' %}
                                        <div class="column is-3 mar-ri">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/student.svg' %}"
                                                     style="width: 142px; height:auto;" alt="">
                                                <h3 class="mediabout mediabout-dark">{% trans 'Student' %} </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark "
                                                   onclick="setUerType('student')" data-step="step-dot-2">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="column is-3 is-offset-3">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/student.svg' %}"
                                                     style="width: 142px; height:auto;" alt="">
                                                <h3 class="mediabout mediabout-dark">{% trans 'Student' %} </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark "
                                                   onclick="setUerType('student')" data-step="step-dot-2">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="column is-3">
                                        <div class="account-type account-type-dark">
                                            <img src="{% static 'assets/img/teach.svg' %}" alt="">
                                            <h3 class="mediabout mediabout-dark">{% trans 'Teacher' %} </h3>
                                            <a class="button is-fullwidth process-button is-light is-light-dark"
                                               onclick="setUerType('teacher')">
                                                {% trans 'Continue' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hrrrr hrrrr-dark">
                                <p class="mediabout mediabout-dark" style="color: grey;text-align: center !important;">{% trans 'Or' %}</p><br>

                                <div class="signupvia">
                                    <div class="columns ">
                                        <div class="column  " style="">
                                            <a href="#" class="button socig socig-dark"
                                               style="">{% trans 'Sign up via Gmail' %}
                                                &nbsp;<i class="mdi mdi-gmail"></i>
                                            </a>
                                        </div>
                                        <div class="column " style="">
                                            <a href="#" class="button  soci soci-dark"
                                               style="">{% trans 'Sign up via Facebook' %}
                                                &nbsp;<i class="mdi mdi-facebook"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="signup-panel-1" style="display: none;"
                                 class="process-panel-wrap teacherpanel is-active">

                                <div class="flex-chose" id="added-categories">

                                    <div id="selected_categories" class="flex-box">

                                    </div>
                                    <a class="cover-edit modal-trigger"
                                       style="background-color: rgb(71, 70, 70);color: #fff;padding:10px;border-radius: 3px;"
                                       data-modal="user-photos-modal">
                                        <i class="mdi mdi-plus"></i>
                                        <span>{% trans 'Add Categories' %}</span>
                                    </a>

                                </div>
                                <div class="buttons">
                                    <a class="button process-button" href="/signup">{% trans 'Back' %}</a>
                                    <a class="button process-button is-next" data-step="step-dot-2"
                                       onclick="checkCategory()">{% trans 'Next' %}</a>
                                </div>
                            </div>

                            <div class="text-align-center" style="text-align:center;"
                                 id="div_error"></div>
                            <div id="signup-panel-2" class="process-panel-wrap is-narrow ">
                                <div class="form-panel account-type account-type-dark">
                                    <div class="field field-dark" style="">
                                        <div class="control">
                                            <input type="text" class="input input-dark" style="margin-top: 5px;" id="first_name" name="first_name"
                                                   placeholder="{% trans 'Enter your first name' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="text" class="input input-dark" style="margin-top: 5px;" id="last_name" name="last_name"
                                                   placeholder="{% trans 'Enter your last name' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="email" class="input input-dark" style="margin-top: 5px;" id="email" name="email"
                                                   placeholder="{% trans 'Enter your email address' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="password" class="input input-dark" style="margin-top: 5px;" id="password" name="password"
                                                   placeholder="{% trans 'Choose a password' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="password" class="input input-dark" style="margin-top: 5px;" id="confirm_password"
                                                   name="confirm_password"
                                                   placeholder="{% trans 'Repeat your password' %}">
                                        </div>
                                    </div>
                                </div>

                                <div class="buttons">
                                    {% get_current_language as lang %}
                                    {% if lang == "ar" %}

                                    <a class="button process-button is-next signin-button signin-button-is-dark" id="registernext"
                                       onclick="return Validate()">{% trans 'Next' %}</a>
                                       <a class="button process-button signup-button signup-button-is-dark" data-step="step-dot-1">{% trans 'Back' %}</a>
                                    
                                    {% else %}   

                                    <a class="button process-button  signin-button signin-button-is-dark" data-step="step-dot-1">{% trans 'Back' %}</a>

                                    <a class="button process-button is-next signup-button signup-button-is-dark" id="registernext"
                                       onclick="return Validate()">{% trans 'Next' %}</a>
                                    {% endif %}   

                                </div>
                            </div>

                            <div id="signup-panel-3" class="process-panel-wrap is-narrow">
                                <div class="form-panel">
                                    <img class="success-image" src="{% static 'assets/img/mailsent.svg' %}" alt="">
                                    <div class="success-text">
                                        <h3>{% trans 'Congratz, you successfully created your account.' %}</h3>
                                        <p> {% trans 'We just sent you a confirmation email. PLease confirm your account within 24 hours.' %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Edit Credit card Modal-->
                    <div id="crop-modal" class="modal mdl-modal is-small crop-modal is-animated">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="modal-card" style="width: 100%;">
                                <header class="modal-card-head">
                                    <div class="modal-card-title">
                                        <span>{% trans 'Crop your picture' %}</span>
                                    </div>
                                    <button class="mdl-modal-close" aria-label="close">
                                        <i data-feather="x"></i>
                                    </button>
                                </header>
                                <div class="modal-card-body">
                                    <div id="cropper-wrapper" class="cropper-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Signup steps -->

        <!--- Categories Modal start-->
        <div id="user-photos-modal" class="modal user-photos-modal is-medium has-light-bg">
            <div class="modal-background"></div>
            <div class="modal-content">
                <!-- Card -->
                <div class="card card-dark">
                    <div class="card-heading">
                        <h3>{% trans 'What will you teach?' %}</h3>
                        <!-- Close X button -->
                        <div class="close-wrap">
                    <span class="close-modal">
                    <i data-feather="x"></i>
                </span>
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Tabs -->
                        <div class="nav-tabs-wrapper">

                            <!-- Recent Photos -->
                            <div id="recent-photos" class="tab-content has-slimscroll-md is-active">
                                <!-- Grid -->
                                <div class="albums-grid">
                                    <div class="columns is-multiline">
                                        <!-- Album item -->
                                        {% for c in objC %}
                                            <div class="column is-4" onclick="return subCategory('{{ c.id }}')">
                                                <div class="album-wrapper" data-album="album-photos-{{ c.id }}">
                                                    <div class="album-image">
                                                        <img src="/static/{{ c.image }}"
                                                             data-demo-src="{% static 'assets5/img/demo/unsplash/35.jpg' %}"
                                                             alt="">
                                                    </div>
                                                    <div class="album-meta">
                                                        <div class="album-title">
                                                            <span>{{ c.name }}</span>
                                                        </div>
                                                        <div class="image-count">
                                                            <i data-feather="grid"></i>
                                                            <span>8</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>

                                <!-- Hidden Grid | Design and colors -->
                                <div id="album-photos-1" class="album-image-grid is-hidden">
                                    <div class="album-info">
                                        <h4 id="album_header"></h4><a
                                            class="close-nested-photos">{% trans 'Go Back' %}</a></div>
                                    <div class="columns is-multiline" id="album_content">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="button is-solid accent-button replace-button is-disabled"
                                onclick="return addSubCategory()">{% trans 'Add' %}</button>
                    </div>
                </div>

            </div>
        </div>
        <!--- Categories Modal end-->
    </div>

{% endblock %} {% block script %}

    <!-- Page and UI related js -->
    <script>
        var blobImg = '';
        var uploadImg = '';

        function setUerType(type) {
            if (type == 'teacher') {
                $('.mainpanel').hide();
                $('.teacherpanel').show();
            }
            $("#type").val(type);
        }

        function addSubCategory() {
            $('#user-photos-modal').removeClass('is-active');
            var category_html = ''
            category_html += '<a class="cover-edit" style="background-color: rgb(202, 202, 202);color: rgb(49, 49, 49);padding:10px;border-radius: 3px;">'
            category_html += '<i class="mdi mdi-tag"></i><span>' + $("#category").val() + '</span></a>'
            // $("#added-categories").prepend(category_html);
            $("#selected_categories").append(category_html);

            // $('#step-dot-2').trigger('click');
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function addUserCategory(obj) {

            $("#subcategory").val($(obj).attr('subId'));

        }

        function subCategory(cat_id) {
            console.log("cat_id - ", cat_id)
            $("#album_header").html("")
            $("#album_content").html("");

            // Ajax start
            var action = "/getsubcategory";
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    category_id: cat_id
                },

                beforeSend: function () {

                    console.log("Beforesend")
                },
                success: function (data) {
                    console.log(data)
                    $("#album-photos-1").removeClass('is-hidden')
                    $("#album-photos-1").show();
                    var htmlheader = data.subcat_list[0].category_name + ' | <small>' + data.subcat_list.length + ' Categories</small>'
                    $("#album_header").append(htmlheader)
                    $("#category").val(data.subcat_list[0].category_name);

                    for (var c = 0; c < data.subcat_list.length; c++) {
                        console.log(data.subcat_list[c])
                        var html = ''
                        html += '<div class="column is-4" onclick="return addUserCategory(this)" subId="' + data.subcat_list[c].id.toString() + '"><div class="grid-image"><input type="radio" name="selected_photos">'
                        html += '<div class="inner"><img src="/static/' + data.subcat_list[c].image + '" data-demo-src="" alt="">'
                        html += '<div class="" style="width: 100%;position: absolute;bottom: 0;left: 0;padding:10px;background-color: black;opacity: 0.8;">'
                        html += '<b style="color: #fff;">' + data.subcat_list[c].name + '</b></div><div class="inner-overlay"></div><div class="indicator gelatine"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg><polyline points="20 6 9 17 4 12"></polyline></svg></div></div>'
                        html += '</div></div>'

                        $("#album_content").append(html);
                    }

                    if (data.msg == "already") {
                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        return false
                    }

                },
                error: function (err) {
                    return false
                }
            })
            return false
        }

        function Validate() {

            $("#div_error").html("");
            if ($("#first_name").val() == "") {
                $("#div_error").html("{% trans 'Please enter the first name' %}");
                return false;
            } else if ($("#last_name").val() == "") {
                $("#div_error").html("{% trans 'Please enter the last name' %}");
                return false;
            } else if (!isEmail($("#email").val()) || $("#email").val() == "") {
                $("#div_error").html("{% trans 'Please enter the valid email' %}");
                return false;
            }
            // Ajax start
            var action = "/check-email";
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    email: $("#email").val(),
                },
                beforeSend: function () {
                    console.log("Beforesend")
                },
                success: function (data) {
                    console.log(data)
                    if (data.msg == "already") {
                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        {#$('#step-dot-3').trigger('click');#}
                        signup();
                        return false
                    }

                },
                error: function (err) {
                    return false
                }
            })
            return false
        }

        function signup() {

            $('#registernext').addClass(' is-loading');
            $('#registernext').removeClass(' is-loading');
            $("#div_error").html("");
            if ($("#password").val().trim().length < 6) {
                $("#div_error").html("{% trans 'Password must be greater than 5 digit' %}");
                return false
            }
            if ($("#password").val() == "") {
                $("#div_error").html("{% trans 'Please enter the password' %}");
                return false
            } else if ($("#confirm_password").val() == "") {
                $("#div_error").html("{% trans 'Please enter the confirm password' %}");
                return false
            } else if ($("#confirm_password").val() == $("#password").val() == "") {
                $("#div_error").html("{% trans 'password is not match. Please re-enter the correct password.' %}");
                return false
            }

            console.log('$("#subcategory").val() = ', $("#subcategory").val())
            $('#registernext').addClass(' is-loading');
            var formData = new FormData();

            formData.append('file', uploadImg);
            formData.append('first_name', $("#first_name").val());
            formData.append('last_name', $("#last_name").val());
            formData.append('email', $("#email").val());
            formData.append('password', $("#password").val());
            formData.append('phone_number', 'none');
            formData.append('type', $("#type").val());
            formData.append('subcategory', $("#subcategory").val());

            console.log($("#first_name").val())
            $('#registernext').addClass('is-loading');
            // Ajax start
            var action = "/register-user";
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                async: false,
                contentType: false,
                processData: false,

                data: formData,

                beforeSend: function () {

                },
                success: function (data) {
                    if (data.msg == "success") {
                        $('#registernext').removeClass(' is-loading');
                        $('#step-dot-3').trigger('click');
                        return false;
                    } else if (data.msg == 'already') {

                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        $("#div_error").html(data.msg);
                        return false;
                    }
                },
                error: function (err) {
                    return false
                }
            })
            return false
        }
        const checkCategory = (event) => {
            var selected_cat = $('#selected_categories').find('a');
            if (selected_cat < 1) {
                event.preventDefault();
            }
        };
        $(document).ready(function(){
           feather.replace();
           
           $('button').click(function(){
              $('.alert').html('<i data-feather="activity"></i>');
           });
  
});

    </script>
    <script src="{% static 'assets/js/signup.js' %}"></script>
{% endblock %}