{% load static %}
{% load i18n   %}
<!-- Start Carousel -->


<style>

.top{
  position: relative;
  background: linear-gradient(180deg, rgba(13,52,96,1) 0%, rgba(0,99,236,1) 100%);
  height: 420px;
  width: 100%;
  color: #fff;
}

.top p{
  margin-top: 10px;
}

.top strong{
  color: #fff;
  float: right;
  text-decoration: underline;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 350px;
}



.top-dark{
  position: relative;
  background: linear-gradient(180deg, rgb(124, 155, 190) 0%, rgb(100, 121, 150) 100%);
  height: 420px;
  width: 100%;
  color: rgb(13, 39, 56);
}

.slide-dark{
  background-color: rgb(25, 31, 51) !important;
  border: 1px solid rgb(18, 23, 39);
}

.mediabout{
    color: rgb(9, 23, 41) !important;
}
  
.mediabout-dark{
   color: rgb(219, 219, 219) !important;
}

.blllu{
        color: rgb(11, 111, 241) !important;
        float: left;
    } 
    .blllu-dark{

        color: rgb(177, 200, 230) !important;
        float: left;
        left: 10px !important;
    }

.next-dark{
  background-color: rgb(126, 167, 194);
  border: 1px solid rgb(104, 132, 151);
}    
.prev-dark{
  background-color: rgb(126, 167, 194);
  border: 1px solid rgb(104, 132, 151);
}    

</style>




    {% if stu_courses %}
<div class="top top">
    <div class="container">
      {% get_current_language as lang %}
      {% if lang == "ar" %}
        <h2 style="margin-bottom: 10px">مرحبك بك ,&nbsp;<span style="font-weight: bold;">{{user.first_name}}&nbsp;{{user.last_name}}</span> أكمل التعلم</h2>
        {% else %}
        <h2 style="margin-bottom: 10px">{% trans 'Welcome Back' %},&nbsp;<span style="font-weight: bold;">{{user.first_name}}&nbsp;{{user.last_name}}</span> continue learning</h2>
        {% endif %}
<!--        {% if user.group_id == 3 %}-->
<!--        <a href="/{{lang}}teacher/courses" style="color:rgb(217, 251, 255) ">{% trans 'Move to My courses' %}</a>-->
<!--        {% else %}-->
<!--        <a href="/{{lang}}courses" style="color:rgb(217, 251, 255) ">{% trans 'Move to My courses' %}</a>-->
<!--        {% endif %}-->
        <a href="/{{lang}}courses" style="color:rgb(217, 251, 255);">{% trans 'Move to My courses' %}</a>

        <div id="slider" class="slider" style="margin-top:15px">
            <div class="wrapper-1">
              <div id="slides" class="slides">

{#{% for course in stu_courses %}#}
{#                      <span class="slide"  style="background-color: teal !important;">#}
{#                    <img src="{%static 'assets/img/become.jpg' %}"  alt="">#}
{##}
{#                    <div class="schedule-header">#}
{##}
{#                        <video height="200" poster="{% static 'assets/img/setting.jpg' %}" id="player" playsinline controls style="width: 100%;">#}
{#                            <source src="{% static 'assets/img/vid/html.mp4' %}" type="video/webm" />#}
{#                            <source src="/static{{latest_video_url}}" type="video/webm" />#}
{##}
{#                            <!-- Captions are optional -->#}
{#                            <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />#}
{#                        </video>#}
{#                    </div>#}
{##}
{#                    <div class="slide-footer">#}
{#                        <span class="survey-progress">#}
{#                            <span class="survey-progress-bg">#}
{#                              <span class="survey-progress-fg" style="width: 88%;"></span>#}
{#                            </span>#}
{##}
{#                            <span class="survey-progress-labels">#}
{#                              <span class="survey-progress-label">#}
{#                                {% trans '88%' %}#}
{#                              </span>#}
{##}
{#                              <span class="survey-completes">#}
{#                                {% trans '490 / 500' %}#}
{#                              </span>#}
{#                            </span>#}
{#                            <a href="video.0/dist/playground.html" class="">{% trans 'Continue' %} <i class="fa fa-arrow-right"></i></a>#}
{#                          </span>#}
{#                    </div>#}
{#                </span>#}
{#                  {% endfor %}#}

                  {% for course in stu_courses %}
                <span class="slide slide-dark" style="">
                    <img src="{%static 'assets/img/watch.svg' %}" alt="">
                    <div class="slide-footer">
                        <span class="survey-progress">
                            <span class="survey-progress-labels">
                              <span class="survey-completes blllu blllu-dark">
{#                                {% trans '490 / 500' %}#}
                                {{ '1' }} / {{ course.videoCnt }}
                              </span>
                            </span>
                            <a href="/video/playground/{{ course.course_id_id }}" class="mediabout mediabout-dark">{% trans 'Continue' %} <i class="fa fa-arrow-right"></i></a>
                          </span>

                    </div>
                </span>
                  {% endfor %}
{#                <span class="slide">#}
{#                    <img src="{%static 'assets/img/watch.svg' %}" alt="">#}
{##}
{#                    <div class="slide-footer">#}
{#                        <span class="survey-progress">#}
{#                            <span class="survey-progress-bg">#}
{#                              <span class="survey-progress-fg" style="width: 88%;"></span>#}
{#                            </span>#}
{##}
{#                            <span class="survey-progress-labels">#}
{#                              <span class="survey-progress-label">#}
{#                                {% trans '88%' %}#}
{#                              </span>#}
{##}
{#                              <span class="survey-completes">#}
{#                                {% trans '490 / 500' %}#}
{#                              </span>#}
{##}
{##}
{#                            </span>#}
{#                            <a href="#" class="">{% trans 'Continue' %} <i class="fa fa-arrow-right"></i></a>#}
{#                          </span>#}
{##}
{#                    </div>#}
{#                </span>#}
{#                <span class="slide" style="background-color: teal !important;">#}
{#                    <img src="{%static 'assets/img/watch.svg' %}" alt="">#}
{##}
{#                    <div class="slide-footer" style="background-color: teal !important;">#}
{#                        <span class="survey-progress">#}
{#                            <span class="survey-progress-bg">#}
{#                              <span class="survey-progress-fg" style="width: 88%;"></span>#}
{#                            </span>#}
{##}
{#                            <span class="survey-progress-labels">#}
{#                              <span class="survey-progress-label">#}
{#                                {% trans '88%' %}#}
{#                              </span>#}
{##}
{#                              <span class="survey-completes">#}
{#                                {% trans '490 / 500' %}#}
{#                              </span>#}
{##}
{#                            </span>#}
{#                            <a href="#" class="">{% trans 'Continue' %} <i class="fa fa-arrow-right"></i></a>#}
{#                          </span>#}
{##}
{#                    </div>#}
{#                </span>#}


              </div>
            </div>
            <a id="prev" class="control-1 prev prev-dark"></a>
            <a id="next" class="control-1 next next-dark"></a>
          </div>


{% else %}
<div class="top" style="height:40%">
    <div class="container">
      {% get_current_language as lang %}
      {% if lang == "ar" %}
        <h2 style="margin-bottom: 10px">مرحبك بك ,&nbsp;<span style="font-weight: bold;">{{user.first_name}}&nbsp;{{user.last_name}}</span> </h2>
        {% else %}
        <h2 style="margin-bottom: 10px">{% trans 'Welcome Back' %},&nbsp;<span style="font-weight: bold;">{{user.first_name}}&nbsp;{{user.last_name}}</span> continue learning</h2>
        {% endif %}
<!--        {% if user.group_id == 3 %}-->
<!--        <a href="/{{lang}}teacher/courses" style="color:rgb(217, 251, 255) ">{% trans 'Move to My courses' %}</a>-->
<!--        {% else %}-->
<!--        <a href="/{{lang}}courses" style="color:rgb(217, 251, 255) ">{% trans 'Move to My courses' %}</a>-->
<!--        {% endif %}-->


<!-- End Carousel -->

        {% endif %}



    </div>
</div>