{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% if lang == "ar/" %}
    <html lang="en" dir="rtl">
{% else %}
    <html lang="en" dir="ltr">
{% endif %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student -
        {% block title %}
        {% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/static/{{ lang }}student/assets/vendor/perfect-scrollbar.css" rel="stylesheet">
    <!-- Fix Footer CSS -->
    <link type="text/css" href="/static/{{ lang }}student/assets/vendor/fix-footer.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link type="text/css" href="/static/{{ lang }}student/assets/css/material-icons.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link type="text/css" href="/static/{{ lang }}student/assets/css/fontawesome.css" rel="stylesheet">
    <!-- Preloader -->
    <link type="text/css" href="/static/{{ lang }}student/assets/css/preloader.css" rel="stylesheet">
    <!-- App CSS -->
    <link type="text/css" href="/static/{{ lang }}student/assets/css/app.css" rel="stylesheet">
    <!-- Toastr -->
    <link type="text/css" href="/static/{{ lang }}student/assets/vendor/toastr.min.css" rel="stylesheet">
    <link type="text/css" href="/static/{{ lang }}student/assets/css/toastr.css" rel="stylesheet">
    <link type="text/css" href="/static/{{ lang }}student/assets/css/sweetalert.css" rel="stylesheet">
    <script type="text/javascript">
        function sorthistory() {
            var sort_value = $("#historysort").val();
            if (sort_value == 1) {
                $('.purchaselist .purchaseentity').sort(function (a, b) {
                    return $(b).data('sort') - $(a).data('sort');
                }).appendTo('.purchaselist');
            }
            if (sort_value == 2) {
                $('.purchaselist .purchaseentity').sort(function (a, b) {
                    return $(a).data('sort') - $(b).data('sort');
                }).appendTo('.purchaselist');
            }
            if (sort_value == 3) {
                $('.purchaselist .purchaseentity').sort(function (a, b) {
                    return $(b).data('sort') - $(a).data('sort');
                }).appendTo('.purchaselist');
            }
        }
    </script>

    <style type="text/css">
        .pagination li {
            width: 45px;
            height: 45px;
            border: 1px solid black;
            font-size: 30px;
            border-radius: 50%;
            margin-left: 5px;
        }
        .nocourseavailable {
            text-align: center;
            font-size: 30px;
            font-weight: bolder;
        }

        /* .animated-toggle .toggler{
                 position: relative;
             display: block;
             height: 31px;
             width: 53px;
             border: 2px solid #c29f01;
             border-radius: 100px;
             -webkit-transition: all .3s;
             transition: all .3s;
             cursor: pointer;
         }*/


    </style>
</head>

<style>
    .backgg{
        background-color: #e8f4ff !important;
    }
    .backgg-dark{
        background-color: #4c525e !important;
    }

.screen-dark{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(17, 25, 36) !important;
  z-index: 9999;
  opacity: 1;
}

</style>

<!-- <body class="layout-mini layout-mini" style="background: #f5f5f5 !important;height:100vh !important"> -->
    <body class="layout-mini backgg backgg-dark" style="height: 100vh;">
<input type="hidden" id="hd_csrf" value="{{ csrf_token }}">

<!-- Header Navbar -->


<div class="screen hidden screen-dark ">
    <div id="loadings" style="">
        <div class="dancin-bc dancin-bc-dark" style="">
            <div class="dancing-lao">
                <div class="left-dots">
                    <div class="dot dot-1"></div>
                    <div class="dot dot-2"></div>
                    <div class="circle-dot"></div>
                </div>
                <div class="right-dots">
                    <div class="dot dot-1"></div>
                    <div class="dot dot-2"></div>
                    <div class="circle-dot"></div>
                </div>
                <img src="{% static 'assets/img/favicon.png' %}" class="cls-1" alt="">
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" style="display: none;" data-toggle="toastr"
        data-toastr-type="primary" id="test1" data-toastr-title="Heads up!"
        data-toastr-message="This alert needs your attention, but it is not super important.">
    Primary
</button>

<div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" style="background-color: none !important ;">
    <div class="mdk-drawer-layout__content page-content" style="background-color: none !important;">

        {% block headercontent %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>
    {% include "./layout/left-sidebar.html" %}
</div>

<script src="/static/{{ lang }}student/assets/vendor/jquery.min.js"></script>
<script src="/static/{{ lang }}student/assets/vendor/sweetalert.min.js"></script>
<script src="/static/{{ lang }}student/assets/js/sweetalert.js"></script>
<script src="/static/{{ lang }}student/assets/vendor/toastr.min.js"></script>
<script src="/static/{{ lang }}student/assets/js/toastr.js"></script>
<!-- Bootstrap -->
<script src="/static/{{ lang }}student/assets/vendor/popper.min.js"></script>
<script src="/static/{{ lang }}student/assets/vendor/bootstrap.min.js"></script>
<!-- Perfect Scrollbar -->
<script src="/static/{{ lang }}student/assets/vendor/perfect-scrollbar.min.js"></script>
<!-- DOM Factory -->
<script src="/static/{{ lang }}student/assets/vendor/dom-factory.js"></script>
<!-- MDK -->
<script src="/static/{{ lang }}student/assets/vendor/material-design-kit.js"></script>
<!-- App JS -->
<script src="/static/{{ lang }}student/assets/js/app.js"></script>
<!-- Sidebar Mini JS -->
<script src="/static/{{ lang }}student/assets/js/sidebar-mini.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect("http://localhost:3000")
    var user_id = '{{ request.user.id }}';
    var user_role = '{{ request.user.group_id }}';
    socket.on('send_noti_to_student_all_reply', (data) => {
        if (user_role * 1 == 1) {
            $("#test1").attr("data-toastr-title", data.title)
            $("#test1").attr("data-toastr-message", data.content)
            $("#test1").click()
            $(".toast-title").html(data.title)
            $(".toast-message").html(data.content)
        }
    })
    socket.on('send_noti_to_student_reply', (data) => {
        console.log("send_noti_to_student_reply", data)
        if (user_id * 1 == data.receiver_id * 1) {
            console.log("is there?")
            $("#test1").attr("data-toastr-title", data.title)
            $("#test1").attr("data-toastr-message", data.content)
            $("#test1").click()
            $(".toast-title").html(data.title)
            $(".toast-message").html(data.content)
        }
    })
</script>


<script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': $("#hd_csrf").val(),
        }
    });
    (function () {
        'use strict';
        $("html").css({
            'overflow': 'auto'
        })
        // ENABLE sidebar menu tabs
        $('.js-sidebar-mini-tabs [data-toggle="tab"]').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('.js-sidebar-mini-tabs').on('show.bs.tab', function (e) {
            $('.js-sidebar-mini-tabs > .active').removeClass('active')
            $(e.target).parent().addClass('active')
        })
    })()
</script>


<script>
    $(document).ready(function () {
        var color = localStorage.getItem('mode');
        if (color == "light") {
            $(".getmodename").append("dark");
        } else {
            $(".getmodename").append("light");
        }
        console.log(color);
        color_mode();
        console.log("{{lang}}");
    });

    let head = document.getElementsByTagName('HEAD')[0];

    // Create new link Element
    let link = document.createElement('link');

    // set the attributes for link element
    link.rel = 'stylesheet';

    link.type = 'text/css';

    link.href = "/static/{{lang}}student/assets/css/dark.css";

    $('.toggler').on('click', function () {
        if (localStorage.getItem('mode') == 'light') {
            localStorage.setItem('mode', 'dark');
            $(".getmodename").empty();
            $(".getmodename").append("light");

        } else {
            localStorage.setItem('mode', 'light');
            $(".getmodename").empty();
            $(".getmodename").append("dark");

        }
        color_mode();
    });

    function color_mode() {
        if (localStorage.getItem('mode') == 'dark') {
            head.appendChild(link);

        } else {
            head.removeChild(link);
        }
    }



    function color_mode() {
        if (localStorage.getItem('mode') == 'dark') {
            $("body").addClass('body-dark');
            $(".active").addClass('active-dark'); 
            $(".nextt").addClass('nextt-dark'); 
            $(".material-icons").addClass('material-icons-dark'); 
            $(".btncheck").addClass('btncheck-dark'); 
            $(".activve").addClass('activve-dark'); 
            $(".icn").addClass('icn-dark'); 
            $(".btn-light").addClass('btn-light-dark'); 
            $(".navbar").addClass('navbar-dark'); 
            $(".sidebar").addClass('sidebar-dark'); 
            $(".backgg").addClass('backgg-dark'); 
            $(".sidebar-secondary").addClass('sidebar-secondary-dark'); 
            $(".btn-primary").addClass('btn-primary-dark');
            $(".top").addClass('top-dark');
            $(".top").addClass('top-dark');
            $(".dancin-bc").addClass('dancin-bc-dark');
            $(".screen").addClass('screen-dark');
            $(".message").addClass('message-dark');
            $(".card").addClass('card-dark');
            $(".active-a").addClass('active-a-dark'); 
            $(".menu-icon").addClass('menu-icon-dark'); 
            $(".nav-drop-header").addClass('nav-drop-header-dark');  
            $(".disabled").addClass('disabled-dark'); 
            $(".alert-soft-primary ").addClass('alert-soft-primary-dark'); 
            $(".cnti").addClass('cnti-dark'); 
            $(".sidebar-light-dodger-blue").addClass('sidebar-light-dodger-blue-dark'); 
            $(".blllu").addClass('blllu-dark'); 
            $(".progress").addClass('progress-dark'); 
            $(".brd").addClass('brd-dark');
            $(".card-footer").addClass('card-footer-dark');
            $(".custom-file").addClass('custom-file-dark');
            $(".lineeeet").addClass('lineeeet-dark');
            $(".app-messages__container").addClass('app-messages__container-dark'); 
            $(".hrrrr").addClass('hrrrr-dark');
            $(".sweet-alert").addClass('sweet-alert-dark'); 
            $(".is-light").addClass('is-light-dark'); 
            $(".form-control").addClass('form-control-dark'); 
            $(".accorddd").addClass('accorddd-dark'); 
            $(".dropdown-menu-right").addClass('dropdown-menu-right-dark'); 
            $(".track").addClass('track-dark'); 
            $(".tehead").addClass('tehead-dark'); 
            $(".bgk").addClass('bgk-dark'); 
            $(".socig").addClass('socig-dark'); 
            $(".soci").addClass('soci-dark'); 
            $(".card-support").addClass('card-support-dark'); 
            $(".cennnter").addClass('cennnter-dark'); 
            $(".mediabout").addClass('mediabout-dark'); 
            head.removeChild(link);

        } else {
            $("body").removeClass('body-dark');
            $(".active").removeClass('active-dark'); 
            $(".form-control").removeClass('form-control-dark'); 
            $(".sweet-alert").removeClass('sweet-alert-dark'); 
            $(".nextt").removeClass('nextt-dark'); 
            $(".bgk").removeClass('bgk-dark'); 
            $(".tehead").removeClass('tehead-dark'); 
            $(".btncheck").removeClass('btncheck-dark'); 
            $(".custom-file").removeClass('custom-file-dark');
            $(".activve").removeClass('activve-dark'); 
            $(".app-messages__container").removeClass('app-messages__container-dark'); 
            $(".material-icons").removeClass('material-icons-dark'); 
            $(".icn").removeClass('icn-dark'); 
            $(".dancin-bc").removeClass('dancin-bc-dark');
            $(".screen").removeClass('screen-dark');
            $(".sidebar").removeClass('sidebar-dark'); 
            $(".alert-soft-primary ").removeClass('alert-soft-primary-dark'); 
            $(".navbar").removeClass('navbar-dark');  
            $(".btn-light").removeClass('btn-light-dark'); 
            $(".btn-primary").removeClass('btn-primary-dark');
            $(".sidebar-secondary").removeClass('sidebar-secondary-dark'); 
            $(".top").removeClass('top-dark');
            $(".card-footer").removeClass('card-footer-dark');
            $(".backgg").removeClass('backgg-dark'); 
            $(".message").removeClass('message-dark');
            $(".dropdown-menu-right").removeClass('dropdown-menu-right-dark'); 
            $(".menu-icon").removeClass('menu-icon-dark'); 
            $(".nav-drop-header").removeClass('nav-drop-header-dark');  
            $(".disabled").removeClass('disabled-dark'); 
            $(".sidebar-light-dodger-blue").removeClass('sidebar-light-dodger-blue-dark'); 
            $(".cnti").removeClass('cnti-dark'); 
            $(".card").removeClass('card-dark');
            $(".progress").removeClass('progress-dark'); 
            $(".blllu").removeClass('blllu-dark'); 
            $(".active-a").removeClass('active-a-dark'); 
            $(".card-header").removeClass('card-header-dark');
            $(".brd").removeClass('brd-dark');
            $(".lineeeet").removeClass('lineeeet-dark');
            $(".hrrrr").removeClass('hrrrr-dark');
            $(".is-light").removeClass('is-light-dark'); 
            $(".accorddd").removeClass('accorddd-dark'); 
            $(".track").removeClass('track-dark'); 
            $(".socig").removeClass('socig-dark'); 
            $(".soci").removeClass('soci-dark'); 
            $(".card-support").removeClass('card-support-dark'); 
            $(".cennnter").removeClass('cennnter-dark'); 
            $(".mediabout").removeClass('mediabout-dark'); 
            head.removeChild(link);
        }
    }


    function check_video(id) {
        $.ajax({
            method: "POST",
            url: "/video_check/",
            data: {
                'id': id,
            },
            success: function (response) {
                console.log(response)
                if (response['msg'] == "success") {
                    if(response['continous'] == 1){
                        course_name = response['course_name']
                        quiz_id = response['quiz_id']
                        question_no = response['question_no']
                        window.location = `/quiz/${course_name}/${quiz_id}/?question=${question_no}`
                    } else{
                        window.location = "/video/playground/" + response['id'];
                    }

                } else if (response['msg'] == "error") {
                    swal("Course Video Not Found!", {
                        icon: "info",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                    });
                }
            }
        });
    }
</script>

{% block script %}
{% endblock %}


</body>

</html>