{% extends "student/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Messages
{% endblock %}

{% block headercontent %}
{% with title="Notifications" %}
    {% include "./layout/header.html" %}
{% endwith %}

    <link rel="stylesheet" href="{% static 'student/assets/css/sweetalert.css' %}">
    <style>
    th,td {
        text-align: center !important;
        border-top: 1px solid rgb(25, 25, 29)
    }
    .table thead{
        height: 65px !important;
    }

    .tehead{
        background-color: rgb(197, 223, 235) !important;
    border-top: 1px solid rgb(24, 31, 36) !important;
    border-bottom: 1px solid rgb(24, 31, 36) !important;
    }
    .table .tehead {
        
    }
    .tehead-dark{
        background-color: rgb(32, 32, 37) !important;
    border-top: 1px solid rgb(24, 31, 36) !important;
    border-bottom: 1px solid rgb(24, 31, 36) !important;
    }
    
.brd{
    border: 1px solid rgb(240, 240, 240) !important;
    color: #fff !important;
}

.brd-dark{
    border: 1px solid rgb(67, 79, 94) !important;
    color: rgb(202, 202, 202) !important;
}

.table th, .table td{
        border-top: 1px solid rgb(25, 25, 29)
    }



.mediabout{
    color: rgb(21, 43, 71) !important;
}
  
.mediabout-dark{
   color: rgb(219, 219, 219) !important;
}

    

.bgk{
    background-color: #fff !important;
}
.bgk-dark{
    background-color: rgb(137, 148, 158) !important;
}

.table{
    background-color: transparent !important;
}
[dir="ltr"] .table thead th{
    border-bottom: 0 !important;
    border-top: 0 !important;
}

    </style>
{% endblock %}

{% block content %}

<style>


.btn-primary{
        background-color: rgb(37, 148, 192) !important;
        border: 1px solid rgb(23, 104, 136) !important;
        float: right !important;
    }

    .btn-primary-dark{
        background-color: #323741 !important;
        color: rgb(199, 199, 199) !important;
        float: right !important;
        border: 1px solid  #21242b !important;
        box-shadow: none !important;
    }

.sweet-alert-dark{
    background-color: rgb(158, 171, 179) !important;
}

</style>

    <div data-push data-responsive-width="768px" data-has-scrollable-region data-fullbleed
         class="mdk-drawer-layout js-mdk-drawer-layout" style="height: 100% !important;">
        <div class="mdk-drawer-layout__content" style="" data-perfect-scrollbar>
            <div class="app-messages__container d-flex flex-column h-100 pb-4" style="">
                <div class="flex pt-4" style="">
                    <div class="container page__container page__section" style="max-width: 90% !important; margin-top: 40px;">
                        <div class="table-responsive" style="border-radius: 5px 5px 0 0 !important;" data-toggle="lists" data-lists-sort-by="js-lists-values-date"
                         data-lists-sort-desc="true"
                         data-lists-values='["js-lists-values-name", "js-lists-values-department", "js-lists-values-status", "js-lists-values-type", "js-lists-values-phone", "js-lists-values-date"]'>
                        <table class="table mb-0 table-nowrap" style="border-radius: 30px 30px 0 0 !important;">
                            <thead style="" class="tehead tehead-dark">
                                {% get_current_language as lang %}
                                {% if lang == "ar" %}
                            <tr style="">
                                <th style="width: 150px;">
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark">أسم المرسل</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark" >الرسالة</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" 
                                       style="" class="mediabout mediabout-dark">أسم الدورة</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark" >خيارات</a>
                                </th>
                            </tr>
                            {% else %}
                            <tr style="">
                                <th style="width: 150px;">
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark">Name</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark" >Message</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" 
                                       style="" class="mediabout mediabout-dark">course name</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="mediabout mediabout-dark" >option</a>
                                </th>
                            </tr>
                            {% endif %}
                            </thead>
                            <tbody class="list bgk bgk-dark" id="noti_list" >
                            {% for noti in noti_list %}
                                <tr >
                                    <td >
                                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                                            <div class="avatar avatar-sm mr-8pt">
                                                <img src="{% if noti.type == 0 %}{% static noti.sender.image %}{% else %}{% static 'assets/img/favicon.png' %}{% endif %}"
                                                     style="height:41px;" alt="people"
                                                     width="56" class="rounded-circle brd brd-dark"/>
                                            </div>
                                            <div class="media-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column" style="width: 80px;">
                                                        <p class="mb-0">
                                                            <strong class="js-lists-values-name">
                                                                {% if noti.type == 0 %}
                                                            {{ noti.sender.first_name }} {{ noti.sender.last_name }}
                                                                {% else %}
                                                                    Booctep.com
                                                                {% endif %}
                                                        </strong>
                                                        </p>
                                                        <small class="js-lists-values-email text-50">{% if noti.type == 0 %}{{ noti.sender.email }}{% endif %}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                       <b>{{ noti.title }}</b> 
                                    </td>
                                    <td>
                                       <b>{{ noti.text | truncatechars:70 }}</b> 
                                    </td>
                                    <td>
                                        <a href="#" onclick="openShowModal(this)" data-id="{{ noti.id }}"
                                           data-title="{{ noti.title }}" data-text="{{ noti.text }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 style="color: rgb(64, 114, 64);"
                                                 fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                            </svg>
                                        </a>
                                        <a href="#" class="ml-2" onclick="showDelModal({{ noti.id }})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: rgb(107, 49, 49);"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="container page__container page__container"
                     style=" bottom: 50px; position: absolute; height: 40px;">
                </div>
            </div>
        </div>
    </div>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.09; display: none;" id="noti_modal_back"></div>
    <div class="sweet-alert sweet-alert-dark showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" id="show_modal"
         data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="true"
         data-animation="pop" data-timer="null" style="display: none; margin-top: -144px;">
         {% get_current_language as lang %}
         {% if lang == "ar" %}
        <h3>معلومات الرسالة</h3>
        {% else %}
        <h3>Notification info</h3>
        {% endif %}
        <div class="mt-3">
            <input type="text" id="show_title" style="display: block !important;cursor: pointer;" disabled placeholder="title">
            <textarea id="show_notification" style="height: 150px; overflow-y: auto;" class="form-control"
                      placeholder="content" style="cursor: pointer;" disabled></textarea>
        </div>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button class="confirm btn-primary btn-primary-dark" tabindex="1" onclick="hideShowModal()"
                        style="display: inline-block;">
                        {% get_current_language as lang %}
                        {% if lang == "ar" %}
                        <b>إغلاق</b>
                        {% else %}
                        <b>Close</b>
                        {% endif %}
                    
                </button>
            </div>
        </div>
    </div>

    <div class="sweet-alert showSweetAlert visible" id="delete_modal" data-custom-class="" data-has-cancel-button="true"
         data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="true"
         data-animation="pop" data-timer="null" style="display: none; margin-top: -169px;">
        <div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        {% get_current_language as lang %}
        {% if lang == "ar" %}
        <h2>هل أنت متأكد أنك تريد حذف الرسالة؟</h2>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-error-container">
            <div class="icon">!</div>
            <p>غير صحيحة</p>
        </div>
        <div class="sa-button-container">
            <button class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;"
                    onclick="closeDelModal()">إغلاق
            </button>
            <div class="sa-confirm-button-container">
                <button class="confirm" tabindex="1" onclick="deleteNoti()"
                        style="display: inline-block;color: rgb(42, 80, 124); background-color: rgb(164, 210, 248); box-shadow: rgba(33, 150, 243, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    نعم قم بحذفها
                </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        {% else %}
        <h2>Are you sure?</h2>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-error-container">
            <div class="icon">!</div>
            <p>Not valid!</p>
        </div>
        <div class="sa-button-container">
            <button class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;"
                    onclick="closeDelModal()">Cancel!
            </button>
            <div class="sa-confirm-button-container">
                <button class="confirm" tabindex="1" onclick="deleteNoti()"
                        style="display: inline-block;color: rgb(42, 80, 124); background-color: rgb(164, 210, 248); box-shadow: rgba(33, 150, 243, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Yes, delete it!
                </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.09; display: none;" id="modal_back"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'student/assets/js/messages.js' %}"></script>
    <!-- Sweet Alert -->
    <script src="{%static 'student/assets/vendor/sweetalert.min.js' %}"></script>
    <script src="{%static 'student/assets/js/sweetalert.js' %}"></script>

    <!-- Highlight.js -->
    <script src="{% static 'student/assets/js/hljs.js' %}"></script>
    <script>

        let del_id = ''
        function deleteNoti() {
            id = del_id
            let url = '/delete_notification_by_id/'
            let form_data = new FormData()
            form_data.append('id', id)
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                async: false,
                contentType: false,
                processData: false,
                data: form_data,
            }).then(response => {
                location.reload()
            })
        }

        function showDelModal(id) {
            del_id = id
            $("#delete_modal").css({
                'display': 'block'
            })
            $("#modal_back").css({
                'display': 'block'
            })
        }

        function closeDelModal() {
            $("#delete_modal").css({
                'display': 'none'
            })
            $("#modal_back").css({
                'display': 'none'
            })
        }

        function hideShowModal() {
            $("#show_modal").css({
                display: 'none'
            })
            $("#noti_modal_back").css({
                display: 'none'
            })
        }

        function openShowModal(obj) {
            let title = $(obj).data('title')
            let text = $(obj).data('text')
            $("#show_title").val(title)
            $("#show_notification").val(text)
            $("#show_modal").css({
                display: 'block'
            })
            $("#noti_modal_back").css({
                display: 'block'
            })
        }
    </script>
{% endblock %}

