
{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %}

{% if request.user.id == None %} {% include "home/contents.html" %} {% else %} {% include './home/contents-2.html' %} {% endif %}

<style>
    .fa-shopping-cart:hover {
        color: #0160e2 !important;
    }
</style>



<style>
  
</style>

<style>
    .in-blk {
        display: flex;
        flex-direction: row;
    }

    .goldstardiv {
        color: gold;
        position: relative;
    }

    .goldstardiv2 {
        position: relative;
    }

    .halfstar {
        position: absolute;
        top: 0;
        right: 0;
        width: 7px;
        color: #fff;
        overflow: hidden;
        transform: rotateY(3.142rad);
    }

   /* .is-shifted path{
        fill: blue;
    }*/

    .pagination li{
        width: 45px;
        height: 45px;
        border: 1px solid black;
        font-size: 30px;
        border-radius: 50%;
        margin-left: 5px;


    }

    .nocourseavailable{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }

</style>
 
	<div class="text-center" style="width: 80%; margin: 0 auto; margin-top: 20px;">
	  <h1>Welcome to the Password Reset Page</h1>
	  <h3>
	    Forgot your password? Please enter the email address you used to register
	    with us and we will send you a link to reset your password
	  </h3>

	  <form action="" method="POST" class="text-center">
		  {% csrf_token %}
		  {{form}}
		  <input type="submit" value="Send email" /><br>
		</form><br/>
		<div class="text-center">
		  <a href="{% url 'home' %}">Return to home page</a>
		</div>

	</div>
	<br/>
{% endblock %} {% block script %}
<script>

    var myTimer = setInterval(Dataloading, 2000);

    function Dataloading() {

        $(".skeleton").hide();
        $(".show-image ").delay(200).fadeIn(650);

        $(".product-skeleton").hide();
        $(".product-info ").delay(200).fadeIn(650);
    }

    $(document).ready(function () {
        $('#loadings').fadeOut(3000);
        var inp = $("#tipue_drop_input").val()

        if($(".freecoursearea").children().length == 0){

            $(".freecoursearea").append("<h1 class='nocourseavailable'>Sorry! There are no courses available.</h1>");
        }

        if($(".allcoursearea").children().length == 0){

            $(".allcoursearea").append("<h1 class='nocourseavailable'>Sorry! There are no courses available.</h1>");
        }

        if($(".paidcoursearea").children().length == 0){

            $(".paidcoursearea").append("<h1 class='nocourseavailable'>Sorry! There are no courses available.</h1>");
        }


    });

    $(document).ready(function () {
        $(".SlickCarousel ").slick({
            rtl: false, // If RTL Make it true & .slick-slide{float:right;}
            autoplay: true,
            autoplaySpeed: 5000, //  Slide Delay
            speed: 1000, // Transition Speed
            slidesToShow: 4, // Number Of Carousel
            slidesToScroll: 1, // Slide To Move
            pauseOnHover: false,
            appendArrows: $(".Head .Arrows "), // Class For Arrows Buttons
            prevArrow: '<span class="Slick-Prev "></span>',
            nextArrow: '<span class="Slick-Next "></span>',
            easing: "linear ",
            responsive: [{
                breakpoint: 900,
                settings: {
                    slidesToShow: 2,
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                }
            },],
        })
    })

    var slider = document.getElementById('slider'),
        sliderItems = document.getElementById('slides'),
        prev = document.getElementById('prev'),
        next = document.getElementById('next');

    function slide(wrapper, items, prev, next) {
        var posX1 = 0,
            posX2 = 0,
            posInitial,
            posFinal,
            threshold = 100,
            slides = items.getElementsByClassName('slide'),
            slidesLength = slides.length,
            slideSize = items.getElementsByClassName('slide')[0].offsetWidth,
            firstSlide = slides[0],
            lastSlide = slides[slidesLength - 1],
            cloneFirst = firstSlide.cloneNode(true),
            cloneLast = lastSlide.cloneNode(true),
            index = 0,
            allowShift = true;

        // Clone first and last slide
        items.appendChild(cloneFirst);
        items.insertBefore(cloneLast, firstSlide);
        wrapper.classList.add('loaded');

        // Mouse events
        items.onmousedown = dragStart;

        // Touch events
        items.addEventListener('touchstart', dragStart);
        items.addEventListener('touchend', dragEnd);
        items.addEventListener('touchmove', dragAction);

        // Click events
        prev.addEventListener('click', function () {
            shiftSlide(-1)
        });
        next.addEventListener('click', function () {
            shiftSlide(1)
        });

        // Transition events
        items.addEventListener('transitionend', checkIndex);

        function dragStart(e) {
            e = e || window.event;
            e.preventDefault();
            posInitial = items.offsetLeft;

            if (e.type == 'touchstart') {
                posX1 = e.touches[0].clientX;
            } else {
                posX1 = e.clientX;
                document.onmouseup = dragEnd;
                document.onmousemove = dragAction;
            }
        }

        function dragAction(e) {
            e = e || window.event;

            if (e.type == 'touchmove') {
                posX2 = posX1 - e.touches[0].clientX;
                posX1 = e.touches[0].clientX;
            } else {
                posX2 = posX1 - e.clientX;
                posX1 = e.clientX;
            }
            items.style.left = (items.offsetLeft - posX2) + "px ";
        }

        function dragEnd(e) {
            posFinal = items.offsetLeft;
            if (posFinal - posInitial < -threshold) {
                shiftSlide(1, 'drag');
            } else if (posFinal - posInitial > threshold) {
                shiftSlide(-1, 'drag');
            } else {
                items.style.left = (posInitial) + "px ";
            }

            document.onmouseup = null;
            document.onmousemove = null;
        }

        function shiftSlide(dir, action) {
            items.classList.add('shifting');

            if (allowShift) {
                if (!action) {
                    posInitial = items.offsetLeft;
                }

                if (dir == 1) {
                    items.style.left = (posInitial - slideSize) + "px ";
                    index++;
                } else if (dir == -1) {
                    items.style.left = (posInitial + slideSize) + "px ";
                    index--;
                }
            }
            ;

            allowShift = false;
        }

        function checkIndex() {
            items.classList.remove('shifting');

            if (index == -1) {
                items.style.left = -(slidesLength * slideSize) + "px ";
                index = slidesLength - 1;
            }

            if (index == slidesLength) {
                items.style.left = -(1 * slideSize) + "px ";
                index = 0;
            }
            allowShift = true;
        }
    }

    slide(slider, sliderItems, prev, next);

    function category() {

        var category_id = $("#category_id").val();
        var category_id_2 = $("#category_id_2").val();

        $('#loadings').show();

        if(!category_id){
            category_id = 0
        }

        if(!category_id_2){
            category_id_2 = 0
        }
        if(category_id_2==1){ // Most rated

            $('.paidcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('rating') - $(a).data('rating');
              }).appendTo('.paidcoursearea');

            $('.freecoursearea .coursecard').sort(function(a, b) {
                return $(b).data('rating') - $(a).data('rating');
              }).appendTo('.freecoursearea');

            $('.allcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('rating') - $(a).data('rating');
              }).appendTo('.allcoursearea');
        }
        if(category_id_2==2){  // Most students

            $('.paidcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('ts') - $(a).data('ts');
              }).appendTo('.paidcoursearea');

            $('.freecoursearea .coursecard').sort(function(a, b) {
                return $(b).data('ts') - $(a).data('ts');
              }).appendTo('.freecoursearea');

            $('.allcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('ts') - $(a).data('ts');
              }).appendTo('.allcoursearea');
        }
        if(category_id_2==3){  // Newest

            $('.paidcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('cd') - $(a).data('cd');
              }).appendTo('.paidcoursearea');

            $('.freecoursearea .coursecard').sort(function(a, b) {
                return $(b).data('cd') - $(a).data('cd');
              }).appendTo('.freecoursearea');

            $('.allcoursearea .coursecard').sort(function(a, b) {
                return $(b).data('cd') - $(a).data('cd');
              }).appendTo('.allcoursearea');
        }
        if(category_id==0){
            $(".coursecard").show();
        }
        else{
            $(".coursecard").hide();
            $(".coursecard[data-cat-id="+category_id+"]").show();
            $('#loadings').hide();
            if($(".coursecard[data-cat-id="+category_id+"]").length==0){
                swal({
                    title: "Sorry, there are no course in this category ",
                    icon: "warning",
                    button: "Ok",
                    closeOnClickOutside: false,
                })
            }
        }
    }

    function addFav(course_id) {
        console.log("test add fav");
        var user_id = '{{ request.user.id }}';
        var url = '/student_favourite_courses/';
        $.post(url, {student: user_id, course: course_id}, function (res) {
            // document.location.reload();
        });
    }

</script>
{% endblock %}




